<div class="row schedule-row schedule-header">
    <div class="{{scheduleLeftWidth}}">
    </div>
    {% include schedule/schedule-header-talks.html %}
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        08:40 - 09:00
    </div>

    {% assign breakContent = 'Welcome All' %}
    {% include schedule/schedule-break-single-track.html %}
    
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        09:00 - 09:40
    </div>

    {% assign rowHour = 'KN1' %}
    {% include schedule/schedule-single-track-row.html %}

</div>

<!-- BREAK -->
<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}}">
        09:40 - 10:00
    </div>
    {% assign breakContent = 'Break' %}
    {% include schedule/schedule-break-single-track.html %}
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        10:00 - 10:40
    </div>

    {% assign rowHour = 'SE1' %}
    {% include schedule/schedule-multitrack-talks-row.html %}

</div>

<!-- BREAK -->
<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}}">
        10:40 - 11:00
    </div>
    {% assign breakContent = 'Break' %}
    {% include schedule/schedule-break-single-track.html %}
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        11:00 - 11:40
    </div>

    {% assign rowHour = 'SE2' %}
    {% include schedule/schedule-multitrack-talks-row.html %}

</div>

<!-- BREAK -->
<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}}">
        11:40 - 14:00
    </div>
    {% assign breakContent = 'Lunch Break' %}
    {% include schedule/schedule-break-single-track.html %}
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        14:00 - 14:40
    </div>

    {% assign rowHour = 'SE3' %}
    {% include schedule/schedule-multitrack-talks-row.html %}

</div>

<!-- BREAK -->
<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}}">
        14:40 - 15:00
    </div>
    {% assign breakContent = 'Break' %}
    {% include schedule/schedule-break-single-track.html %}
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        15:00 - 15:40
    </div>

    {% assign rowHour = 'SE4' %}
    {% include schedule/schedule-multitrack-talks-row.html %}

</div>

<!-- BREAK -->
<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}}">
        15:40 - 17:00
    </div>
    {% assign breakContent = 'Afternoon Break' %}
    {% include schedule/schedule-break-single-track.html %}
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        17:00 - 17:40
    </div>

    {% assign rowHour = 'KN2' %}
    {% include schedule/schedule-single-track-row.html %}

</div>

<!-- BREAK -->
<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}}">
        17:40 - 17:00
    </div>
    {% assign breakContent = 'Break' %}
    {% include schedule/schedule-break-single-track.html %}
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        18:00 - 18:40
    </div>

    {% assign rowHour = 'SE5' %}
    {% include schedule/schedule-multitrack-talks-row.html %}

</div>

<!-- Break -->
<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}} ">
        18:40 - 19:00
    </div>
    {% assign breakContent = 'Break' %}
    {% include schedule/schedule-break-single-track.html %}
</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        19:00 - 19:40
    </div>

    {% assign rowHour = 'SE6' %}
    {% include schedule/schedule-multitrack-talks-row.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}} ">
        19:40
    </div>

    {% assign breakContent = 'Closing Ceremony' %}
    {% include schedule/schedule-break-single-track.html %}
    
</div>

