<div class="sect1">
<h2 id="feedback-summary">Feedback summary</h2>
<div class="sectionbody">
<div class="paragraph">
<p>These are the top-half ranked talks of JBCNConf 2019.</p>
</div>
<table class="tableblock frame-all grid-all" style="width: 75%;">
<colgroup>
<col style="width: 4.5454%;">
<col style="width: 72.7272%;">
<col style="width: 22.7274%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Talk</th>
<th class="tableblock halign-left valign-top">Speaker(s)</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5caa65b338da161235721c4a">Introduce girls to programming and reduce the gender gap</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ansgar Schulze Everding, Laura Luiz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c3e5e7f38da16698cf41b29">Evolving a Pragmatic, Clean Architecture - A Craftsman&#8217;s Guide</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Victor Rentea</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c48ec849034ae38180b14de">Type Inference: Friend or Foe</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Venkat Subramaniam</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c196dd738da165f64820b29">Reactive Spring</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Josh Long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c940a6338da165dcdf16004">Supersonic, Subatomic Java</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Burr Sutter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c9409a238da165dcdf16000">Cryptocurrency algo-trading testing in Scala</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruno Bonanno, Kamel Aouane</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c5b575a38da160d5d9c8e0f">Introduction to Micronaut: Lightweight Microservices with Ahead of Time Compilation</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Graeme Rocher</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5caa5b3038da161235721c43">GraalVM - The polyglot virtual machine for all your programs</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jorge Hidalgo</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5cd1f98438da161cb0381424">Running Serverless Continuous Delivery</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Viktor Farcic</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c5b580038da160d5d9c8e13">Bust the burglars: Machine Learning with TensorFlow and Apache Kafka</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erik-Berndt Scheper</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c19647038da16778cb20fc5">From object oriented to functional and back: the pursuit of pragmatic programming</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mario Fusco</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">12</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5ce93e1338da1653a0966532">Testing in Production. From DevTestOops to DevTestOps</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alex Soto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">13</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5caa65c638da161235721c4b">Memory footprint of a Java process</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Andrei Pangin</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">14</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5caa658938da161235721c48">Undercover Kotlin: Using Kotlin without tipping your hand</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Justin Lee</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">15</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c36672c38da16698cf41add">Me, My Code and I</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rosanne Joosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">16</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c36688538da16698cf41ae0">Responsible Microservices</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nate Schutta</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">17</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c728afd38da165675388579">Java Futures, 2019 Edition</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brian Goetz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5cbe17e438da165ac54cf420">Launching the Micro Future: Micronaut with GraalVM in Practice</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marcus Fihlon</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">19</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c3e5e8838da16698cf41b2a">Amazon Corretto</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Arun Gupta</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">20</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5caa62f838da161235721c45">The SCRUM addiction (the SM tempts you, but you are the one taking it)</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fran Avila</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">21</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c48ed809034ae38180b14e2">Continuous deployment to Kubernetes with the Google Container Tools</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">David Gageot</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">22</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c196e2c38da165f64820b2c">Bulletproof Java Enterprise Applications for The Hard Production Life</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sebastian Daschner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">23</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c5b57ec38da160d5d9c8e12">IoT Sensor Analytics with Apache Kafka, KSQL and TensorFlow</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kai Waehner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">24</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5caa579738da161235721c42">Making possible real-time stock management with the Kappa Architecture</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anton Maria Rodriguez Yuste, Miguel García Lorenzo</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">25</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c48ec449034ae38180b14dd">My Kotlin is better than your Java!</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paulien van Alst, Brian Vermeer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">26</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c5b57e038da160d5d9c8e11">Tips and Tricks about Apache Kafka in the Cloud for Java Developers</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ricardo Ferreira</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">27</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c94094e38da165dcdf15ffe">Slicing Monolith into a CQRS / Event sourcing microservice: joys and pains</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gerard Llorente, Juan Luis Ozáez</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">28</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5cb8340838da166e7a4e7057">How to win the war against a PHP Legacy Monolith, battle by battle</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Albert Roig , Tomás Casquero</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">29</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c9408bb38da165dcdf15ffb">Winning the language war - How N26 decided to adopt Kotlin</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Patrick Kua</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">30</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c36675b38da16698cf41ade">Nowadays Architecture Trends, from Monolith to Microservices and Serverless</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alberto Salazar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">31</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c64984138da16483151bb38">Extending Kubernetes with Spring Cloud</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mauricio Salatino</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">32</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c48ec969034ae38180b14df">Zero Downtime Migrations in Istio era</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alex Soto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">33</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c940a1438da165dcdf16003">Subatomic Reactive Systems with Quarkus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Clement Escoffier</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">34</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5caa689138da161235721c4c">From monolith to microservices via people &amp; principles</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sergio Martinez González, Erik Torres Serrano</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">35</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c5225d49034ae38180b151d">Real-world HTTP performance benchmarking, lessons learned</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Julien Viet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">36</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c48ed639034ae38180b14e1">Java n + 1: What&#8217;s in store for Java 12 and beyond</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Michel Schudel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">37</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c5225df9034ae38180b151e">Serverless Java Challenges and Triumphs</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">David Delabassee</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="ulist">
<ul>
<li>
<p>Aggregated votes from devices in rooms and mobile app</p>
</li>
<li>
<p>Attendees scored the talk from 1 to 5</p>
</li>
</ul>
</div>
</td>
</tr>
</table>
</div>
</div>
</div>