<!DOCTYPE html>
<html lang="en-US">
{% include base.html %}
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="description"
          content="{{ page.description }}">

    <meta name="keywords"
          content="{{ page.keywords }}">

    <meta name="author" content="Barcelona JUG">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: Facebook Open Graph -->
    <meta property="og:title" content="{{site.data.homepage.og_title}}"/>
    <meta property="og:description" content="{{site.data.homepage.og_description}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ base }}{{site.data.homepage.og_image}}"/>
    <!-- end: Facebook Open Graph -->

    <!-- start: Scripts Top -->
    {% include scripts_top.html %}
    <link rel="shortcut icon" href="{{ base }}/assets/img/logos/favicon.ico">
    <!-- end: Scripts Top -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>


<body class="{{ bodyClass }}">


<div class="loader-wrapper">
    <div class="spinner">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
</div>


<div class="site-content">
    <div class="eventstation-wrapper" id="general-wrapper">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

    </div>
</div>
<!-- start:  Scripts Bottom -->
{% include scripts_bottom.html %}
<!-- end:  Scripts Bottom -->
</body>

</html>