---
layout: default
title: JBCNConf - Venue Location
bodyClass: home page-template-default page page-id-7 eventstation-class eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
  <div class="container-fluid">
    <div class="heading-navigation">
      <i class="fa fa-address-book"></i>
      <ul>
        <li>Home</li>
        <li>&#47;</li>
        <li>Venue</li>
      </ul>
    </div>

    <div class="heading-title">
    </div>
  </div>
</div>

<div class="site-sub-content clearfix">
  <div class="container-fluid">
    <div class="row alternative-row">
      <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
        <div class="category-post-list post-list single-list">
          <article id="post-294" class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
            <div class="post-wrapper">
              <div class="post-header">
                <ul class="post-information">

                </ul>
                <h2></h2>
                <h2><b>Cinesa Heron City (Talks) & Hotel Alimara (Workshops)</b></h2>

                <h3>Talks Day (Monday-Tuesday): </h3>
                <p>
                  Centro Comercial Heron City<br>
                  <b>Cines Cinesa</b><br> Passeig d'Andreu Nin, s/n<br> 08016 Barcelona
                </p>
                <table>
                  <tr>
                    <td>
                      <img width="600" height="450" src="assets/img/venue/heron.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="" />
                    </td>
                    <td>
                      <p>
                        <iframe src="https://goo.gl/QWaoPg" width="450" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </p>

                      <p>
                        Access by <b>metro:</b> station Fabra i Puig - line 3, station LlucMajor - line 4<br> * 1 hour from the airport, Terminals 1 & 2. <u><a target="_blank" href="https://goo.gl/xt5uuc">[map here]</a><br></u> * 35 minutes from Plaça
                        Catalunya <u><a target="_blank"href="https://goo.gl/74fdh8">[map here]</a></u>
                      </p>
                    </td>
                  </tr>
                </table>
                <div>
                  <img width="1280" height="1024" src="assets/img/venue/heroncity_perspective.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="Heron City perspective">
                  <img width="1280" height="1024" src="assets/img/venue/heroncity_room.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="Heron City rooms">
                </div>

                <h3>Workshops Day (Wednesday): </h3>
                <p>
                  <b>Hotel Alimara</b> <br>
                  Carrer de Berruguete, 126 <br> 08035 Barcelona
                </p>
                <p><a href="http://alimarahotel.com/">http://alimarahotel.com/</a></p>

                <table>
                  <tr>
                    <td>
                      <img width="600" height="450" src="assets/img/venue/alimara2.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="" />
                    </td>
                    <td>
                      <p>
                        <iframe src="https://goo.gl/2ausqk" width="450" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </p>

                      <p>
                        Access by <b>metro:</b> station Mundet - line 3 <br> * 1 hour from the airport, Terminals 1 & 2. <u><a target="_blank" href="https://goo.gl/Zi5PCr">[map here]</a><br></u> * 27 minutes from Plaça
                        Catalunya <u><a target="_blank"href="https://goo.gl/uXsxkL">[map here]</a></u>
                      </p>
                    </td>
                  </tr>
                </table>
                <div>
                  <img width="1280" height="1024" src="assets/img/venue/alimara.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="Heron City perspective">
                  <img width="1280" height="1024" src="assets/img/venue/alimara3.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="Heron City rooms">
                </div>
              </div>
            </div>

          </article>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
        {% include hotels.html %}
      </div>

    </div>
  </div>

</div>
