---
layout: default
title: JBCNConf - Venue Location
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>Venue</li>
            </ul>
        </div>

        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
                <div class="category-post-list post-list single-list">
                    <article id="post-294"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <ul class="post-information">

                                </ul>
                                <h2></h2>
                                <h2><b>WIP</b></h2>

                                <h4>Talks Day (Monday-Tuesday): </h4>
                                <p>

                                </p>

                                <h4>Workshops Day (Wednesday): </h4>

                            </div>
                            <div class="post-content">
                                <img width="1274" height="630"
                                     src="{{ base }}/assets/img/venue/granvia2.jpg"
                                     class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image"
                                     alt=""/>
                                <img width="1274" height="630"
                                     src="{{ base }}/assets/img/venue/granvia2_cine.jpg"
                                     class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image"
                                     alt=""/>

                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
                {% include hotels.html %}
            </div>

        </div>
    </div>

</div>
