---
layout: default
title: JBCNConf - Travel to Barcelona
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>Travel</li>
            </ul>
        </div>

        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
                <div class="category-post-list post-list single-list">
                    <article id="post-294"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <ul class="post-information">

                                </ul>
                                <h2></h2>
                                <p>
                                    Few European cities can offer you the wide diversity of cultural experience that you'll find here in Barcelona,
                                    attracting millions of travellers year on year, many of which decide to stay.
                                    <br/>The mild climate, beautiful coastline, small and winding streets, charming architecture that takes you back
                                    in time, delicious and affordable food make it a perfect place to host such a conference.
                                    Couple that with the luxury of 4.2 km of beach only a short walk from the city centre, warm sunshine most of the
                                    year, you have have the perfect setting for an enriching and relaxing experience.
                                </p>
                                <p>
                                    Barcelona has undergone a transformation in recent years. It’s always been looked upon as a city of great
                                    thinkers, artists and architects, but now it can add “smart city” and “innovative startup hub”
                                    to its repertoire, rendering it a prime location for technology and attracting increasing numbers of international
                                    talent to its shores.
                                </p>


                                <h3>Last Year Photos</h3>
                                <div class="flickr-widget">
                                    <script type="text/javascript"
                                            src="https://www.flickr.com/badge_code_v2.gne?count=9&album=72157667984581534&display=oldest&size=s&layout=x&source=user&user=133686206@N08"></script>
                                </div>
                                <div class="clearfix"></div>

                            </div>

                            <div class="post-content">

                                <img src="{{base}}/assets/img//barcelona/after-hours.jpg"/>

                                <h2>
                                    Where to go after-hours?
                                </h2>

                                <h3>
                                    Plaça de Catalunya & El Barri Gòtic
                                </h3>

                                <p>
                                    The quarter is the centre of the old city of Barcelona, built primarily in the late 19th and early 20th century,
                                    though several buildings date from medieval times.
                                    The Barri Gòtic retains a labyrinthine street plan, with many small streets opening out into squares. <br/>
                                    It stretches from Plaça de Catalunya to the marina (near the seafront), edged the famous La Rambla street.
                                    <br/>
                                </p>


                                <h3>
                                    Platja de la Barceloneta
                                </h3>

                                <p>
                                    This beach is inextricably linked to the fishing quarter of the same name, Barceloneta, Barcelona's classic
                                    neighbourhood by the sea, where the people of Barcelona love to come and eat fish and seafood dishes and "tapas".
                                    <br/>
                                    Within walking distance from the above Barri Gòtic and La Rambla street (across the marina).                                  
                                </p>

                            </div>

                            <div class="post-bottom">

                            </div>

                        </div>
                    </article>
                </div>
            </div>
            <!--<div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">-->
                <!--{% include hotels.html %}-->
            <!--</div>-->

        </div>
    </div>

</div>
