<!-- start: Copyright -->
<div id="copyright">

    <!-- start: Container -->
    <div class="container">

        <p>
            Organized by <a href="http://www.barcelonajug.org/">· Barcelona JUG ·</a>
            <br/><span class="text-small"> 
            <a href="http://bootstrapmaster.com"
               alt="Bootstrap Themes">Bootstrap Themes</a> 
            Designed by BootstrapMaster
            </span>
        </p>

    </div>
    <!-- end: Container  -->

</div>
<!-- end: Copyright -->