<footer class="footer animate anim-fadeIn" id="Footer">
    <div class="footer-widget">
        <div class="container-fluid">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="content-widget-title">
                                <div class="content-title-text"><i class="fa fa-info-circle"></i>
                                    <h3 style="color:#ffffff;">contact</h3>
                                    <p style="color:#ffffff;">Nam pellentesque dui ante, in suscipit justo laoreet sit amet.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1461351432336 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="content-widget-title small">
                                                <div class="content-title-text"><i class="fa fa-map"></i>
                                                    <h3>MAP</h3></div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span></div>

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><span style="color: #ffffff;">8017 Cedar Lane</span><br/>
                                                        <span style="color: #ffffff;">Land O Lakes, FL 34639</span></p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="content-widget-title small">
                                                <div class="content-title-text"><i class="fa fa-phone-square"></i>
                                                    <h3>PHONE</h3></div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span></div>

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><span style="color: #ffffff;">+06 2322 682 44 89</span><br/>
                                                        <span style="color: #ffffff;"> +06 2312 682 45 90</span></p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="content-widget-title small">
                                                <div class="content-title-text"><i class="fa fa-envelope"></i>
                                                    <h3>E-MAIL</h3></div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span></div>

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><span style="color: #ffffff;">mail@gloriatheme.com</span><br/>
                                                        <span style="color: #ffffff;"> info@eventstation.com</span></p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="content-widget-title small">
                                                <div class="content-title-text"><i class="fa fa-share-alt-square"></i>
                                                    <h3>SOCIAL MEDIA</h3></div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span></div>
                                            <div class="social-media-widget social-media-white">
                                                <ul>
                                                    <li><a href="https://www.facebook.com/gloriatheme/" title="Facebook" target="_blank"><i
                                                            class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/GloriaTheme" title="Twitter" target="_blank"><i
                                                            class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://plus.google.com/111420305296774523403" title="Google+"
                                                           target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="https://www.instagram.com/gloriatheme/" title="Instagram" target="_blank"><i
                                                            class="fa fa-instagram"></i></a></li>
                                                    <li><a href="http://www.linkedin.com/in/gloriatheme" title="Linkedin" target="_blank"><i
                                                            class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="https://www.youtube.com/channel/UCQ33nDAYSrv_IdPH71q33iQ" title="YouTube"
                                                           target="_blank"><i class="fa fa-youtube"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="content-widget-title small">
                                <div class="content-title-text"><i class="fa fa-newspaper-o"></i>
                                    <h3>NEWSLETTER</h3></div>
                            </div>
                            <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span></div>
                            <div class="eventstation-mailchmip">
                                <script type="text/javascript">(function () {
                                    if (!window.mc4wp) {
                                        window.mc4wp = {
                                            listeners: [],
                                            forms: {
                                                on: function (event, callback) {
                                                    window.mc4wp.listeners.push({
                                                        event: event,
                                                        callback: callback
                                                    });
                                                }
                                            }
                                        }
                                    }
                                })();
                                </script><!-- MailChimp for WordPress v4.0.13 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-344" method="post" data-id="344" data-name="Footer">
                                    <div class="mc4wp-form-fields">
                                        <div class="footer-newsletter">
                                            <input type="email" name="EMAIL" placeholder="Your e-mail address" required/>
                                            <input type="submit" value="Subscribe"/>
                                        </div>
                                        <div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                                                           autocomplete="off"/></div>
                                        <input type="hidden" name="_mc4wp_timestamp" value="1488181935"/><input type="hidden"
                                                                                                                name="_mc4wp_form_id"
                                                                                                                value="344"/><input
                                            type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"/></div>
                                    <div class="mc4wp-response"></div>
                                </form><!-- / MailChimp for WordPress Plugin --></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element  vc_custom_1461598466648">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center; margin-bottom: 0px; letter-spacing: 0.5px; font-family: 'Roboto';"><span
                                            style="color: #ffffff;">© 2016 Your Company. All Rights Reserved. Designed by Gloria Theme</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>