<!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">

    <!-- start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="row">

            <!-- start: Footer Menu Logo -->
            <div class="span2">
                <div id="footer-menu-logo">
                    <a href="#"><img src="/assets/images/logos//LOGO_FINAL_PNG_500x250.png"
                                     alt="logo"/></a>
                </div>
            </div>
            <!-- end: Footer Menu Logo -->

            <!-- start: Footer Menu Links-->
            <div class="span9">

                <div id="footer-menu-links">

                    <ul id="footer-nav">

                        <li><a href="/sponsor-the-java-conference.html">Sponsorship </a></li>

                        <li><a href="/barcelona-conference-venue.html">Venue</a></li>

                        <li><a href="/travel-and-accomodation-barcelona.html">Travel & Accommodation</a></li>

                        <li><a href="/barcelona-java-user-group.html">About</a></li>

                        <li><a href="/contact-barcelona-java-user-group.html">Contact</a></li>

                    </ul>

                </div>

            </div>
            <!-- end: Footer Menu Links-->

            <!-- start: Footer Menu Back To Top -->
            <div class="span1">

                <div id="footer-menu-back-to-top">
                    <a href="#"></a>
                </div>

            </div>
            <!-- end: Footer Menu Back To Top -->

        </div>
        <!-- end: Row -->

    </div>
    <!-- end: Container  -->

</div>
<!-- end: Footer Menu -->