<!-- start: Footer -->
<div id="footer">

    <!-- start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="row">

            <!-- start: About -->
            <div class="span3">

                <h3>About Us</h3>
                <p>
                    The Barcelona JUG is a nonprofit association with a great team and a broad experience in Java
                    technologies.
                    <br/><br/>Since 2012, Barcelona JUG is organizing talks and meetups focused on Java topics, looking
                    forward to spin this technology from our hometown to the rest of the world.

                </p>

            </div>
            <!-- end: About -->

            <!-- start: Photo Stream -->
            <div class="span3">

                <h3>Photo Stream</h3>
                <div class="flickr-widget">
                    <script type="text/javascript" src="https://www.flickr.com/badge_code_v2.gne?count=9&album=72157667984581534&display=oldest&size=s&layout=x&source=user&user=133686206@N08"></script>
                    <div class="clear"></div>
                </div>

            </div>
            <!-- end: Photo Stream -->
            
            <div class="span6">

                <!-- start: Follow Us -->
                <h3>Follow Us!</h3>
                <ul class="social-grid">
                    <li>
                        <div class="social-item">
                            <div class="social-info-wrap">
                                <div class="social-info">
                                    <div class="social-info-front social-twitter">
                                        <a href="https://twitter.com/jbcnconf/"></a>
                                    </div>
                                    <div class="social-info-back social-twitter-hover">
                                        <a href="https://twitter.com/jbcnconf/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="social-item">
                            <div class="social-info-wrap">
                                <div class="social-info">
                                    <div class="social-info-front social-facebook">
                                        <a href="https://www.facebook.com/BarcelonaJUG"></a>
                                    </div>
                                    <div class="social-info-back social-facebook-hover">
                                        <a href="https://www.facebook.com/BarcelonaJUG"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="social-item">
                            <div class="social-info-wrap">
                                <div class="social-info">
                                    <div class="social-info-front social-flickr">
                                        <a title="Checkout our Flickr Albums"  href="https://www.flickr.com/photos/133686206@N08/albums"></a>
                                    </div>
                                    <div class="social-info-back social-flickr-hover">
                                        <a title="Checkout our Flickr Albums"  href="https://www.flickr.com/photos/133686206@N08/albums"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="social-item">
                            <div class="social-info-wrap">
                                <div class="social-info">
                                    <div class="social-info-front social-youtube">
                                        <a title="Find our Videos on Youtube" href="https://www.youtube.com/user/BarcelonaJUG"></a>
                                    </div>
                                    <div class="social-info-back social-youtube-hover">
                                        <a title="Find our Videos on Youtube" href="https://www.youtube.com/user/BarcelonaJUG"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- end: Follow Us -->

                <h3>We are here!</h3>
                <ul>
                    <li>
                        <a href="http://www.barcelonajug.org/">http://www.barcelonajug.org/</a>
                    </li>
                    <li>
                        <a href="https://www.meetup.com/BarcelonaJUG/">https://www.meetup.com/BarcelonaJUG/</a>
                    </li>
                    <li>
                        <a href="https://github.com/barcelonajug">https://github.com/barcelonajug</a>
                    </li>
                </ul>

                <!-- start: Newsletter 
                <form id="newsletter">
                    <h3>Newsletter</h3>
                    <p>Please leave us your email</p>
                    <label for="newsletter_input">@:</label>
                    <input type="text" id="newsletter_input"/>
                    <input type="submit" id="newsletter_submit" value="submit">
                </form>
                <!-- end: Newsletter -->

            </div>

        </div>
        <!-- end: Row -->

    </div>
    <!-- end: Container  -->

</div>
<!-- end: Footer -->