{% include base.html %}

<div class="header-wrapper header-alternative">
    <div class="container-fluid">
        <header class="header">
            <div class="logo-area"><a href="{{ base }}" class="site-logo">
                <img alt="Logo"
                     src="{{ base }}/assets/img/logos/logo-jbcnconf-small.png"/></a>

            </div>
            <div class="logo-area logo-area-alternative"><a href="{{ base }}" class="site-logo">
                <img alt="Logo"
                     src="{{ base }}/assets/img/logos/logo-jbcnconf.png"/></a>
            </div>
            <div class="menu-area">
                <nav class="navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul id="menu-home-1-menu" class="nav navbar-nav">

                            {% for menu in site.data.menu.items %}

                            <li
                                    {% if menu.items %}
                                    data-dropdown="dropdown"
                                    class="dropdown menu-item-has-children"
                                    {% endif %}
                            >
                                {% if menu.href contains "http" %}
                                <a target="_blank"
                                   class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home  active"
                                   href="{{menu.href}}">
                                    {{ menu.label }}
                                </a>
                                {% elsif menu.href %}
                                <a class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home  active
                                {% if menu.items %}
                                   dropdown-toggle
                                {% endif %}"


                                   {% if menu.items %}
                                   data-toggle="dropdown"
                                   {% endif %}

                                   href="{{ base }}{{menu.href}}">
                                    {{ menu.label }}
                                </a>
                                {% if menu.items %}

                                {% endif %}
                                
                                <ul role="menu" class=" dropdown-menu">
                                    {% for child in menu.items %}
                                    <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item">
                                        <a href="{{ base }}{{child.href}}">{{child.label}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>

                                {% endif %}

                            </li>

                            {% endfor %}

                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children dropdown"
                                data-dropdown="dropdown"><a href="#Contact" class="dropdown-toggle disabled" data-toggle="dropdown">Contact</a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-14 active">
                                        <a href="{{ base }}/about.html">About Us</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</div>