{% include base.html %}

<div class="header-wrapper header-alternative">
    <div class="container-fluid">
        <header class="header">
            <div class="logo-area"><a href="{{ base }}" class="site-logo">
                <img alt="Logo"
                     src="{{ base }}/assets/img/logos/logo-jbcnconf-small.png"/></a>
               
            </div>
            <div class="logo-area logo-area-alternative"><a href="{{ base }}" class="site-logo">
                <img alt="Logo"
                     src="{{ base }}/assets/img/logos/logo-jbcnconf.png"/></a>
            </div>
            <div class="menu-area">
                <nav class="navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul id="menu-home-1-menu" class="nav navbar-nav">

                            <li id="menu-item-13"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children dropdown menu-item-13"
                                data-dropdown="dropdown"><a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">Home</a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li id="menu-item-14"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-14 active">
                                        <a href="{{ base }}/#">Home 1</a></li>
                                    <li id="menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396"><a
                                            href="{{ base }}/home-2/">Home 2</a></li>
                                    <li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a
                                            href="{{ base }}/home-3/">Home 3</a></li>
                                </ul>
                            </li>

                            <li id="menu-item-15"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-15 active">
                                <a href="{{ base }}/#Publicity">Publicity</a></li>
                            <li id="menu-item-16"
                                class="page-scroll menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-16 active">
                                <a href="{{ base }}/#Speakers">Speakers</a></li>
                            <li id="menu-item-17"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17 active">
                                <a href="{{ base }}/#Programme">Schedule</a></li>
                            <li id="menu-item-18"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18 active">
                                <a href="{{ base }}/#BuyTicket">Buy Ticket</a></li>
                            <li id="menu-item-19"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-19 active">
                                <a href="{{ base }}/#Travel3D">Travel</a></li>
                            <li id="menu-item-20"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-20 active">
                                <a href="{{ base }}/#Extra">Extra</a></li>
                            <li id="menu-item-21"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-21 active">
                                <a href="{{ base }}/#GalleryBlog">Gallery</a></li>
                            <li id="menu-item-22"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-22 active">
                                <a href="{{ base }}/#GalleryBlog">Blog</a></li>
                            <li id="menu-item-23"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-23 active">
                                <a href="{{ base }}/#Sponsors">Sponsors</a></li>
                            <li id="menu-item-24"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-24 active">
                                <a href="{{ base }}/#Footer">Contact</a></li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</div>