<link rel='stylesheet' id='vc_tta_style-css'
      href='{{ base }}/assets/css/js_composer_tta.min.css' type='text/css'
      media='all'/>

<script type='text/javascript'
        src='{{ base }}/assets/js/jquery.form.min.js'></script>


<script type='text/javascript'
        src='{{ base }}/assets/js/jquery.blockUI.min.js'></script>

<script type='text/javascript'
        src='{{ base }}/assets/js/jquery.cookie.min.js'></script>


<script type='text/javascript'
        src='{{ base }}/assets/js/bootstrap.min.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/animate.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/scrollbar.min.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/eventstation.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/fixed-sidebar.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/waypoints.min.js?ver=5.0.1'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/jquery.counterup.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/timecircles.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/html5lightbox.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/vegas.min.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/fixed-header.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/admin-bar.js'></script>

<script type='text/javascript'
        src='{{ base }}/assets/js/js_composer_front.min.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/vc-accordion.min.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/vc-tta-autoplay.min.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/vc-tabs.min.js'></script>
<script type='text/javascript'
        src='{{ base }}/assets/js/randomize.js'></script>

<script type='text/javascript'
        src='{{ base }}/assets/js/schedule.js'></script>

<!-- Twitter single-event website tag code, please keep this script as last -->
<script type="text/javascript"
        src="//platform.twitter.com/oct.js"></script>
<script type="text/javascript">twttr.conversion.trackPid('nx4fy', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nx4fy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nx4fy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>
<!-- End Twitter single-event website tag code -->