{% include base.html %}

<h2>Speakers:</h2>
<!-- start: Row -->
<div class="row">

    <!-- start: Icon Boxes -->
    <div class="icons-box-vert-container">

        <!-- start: Icon Box Start -->
        <div class="span6">
            <div class="icons-box-vert">
                <div class="icons-box-vert-info">
                    <h3>John Adams</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- end: Icon Box-->

        <!-- start: Icon Box Start -->
        <div class="span6">
            <div class="icons-box-vert">
                <div class="icons-box-vert-info">
                    <h3>Andrew Jackson</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- end: Icon Box -->

        <!-- start: Icon Box Start -->
        <div class="span6">
            <div class="icons-box-vert">
                <div class="icons-box-vert-info">
                    <h3>Abraham Lincoln</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- end: Icon Box -->

        <!-- start: Icon Box Start -->
        <div class="span6">
            <div class="icons-box-vert">
                <div class="icons-box-vert-info">
                    <h3>Theodore Roosevelt</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- end: Icon Box -->

    </div>
    <button class="btn btn-danger pull-right">

    </button>
    <!-- end: Icon Boxes -->
    <div class="clear"></div>
</div>
<!-- end: Row -->
