<span class="stats-wrapper">
    
<a href="#" class="btn btn-primary btn-lg btn-stats" title="Days">
    <span class="glyphicon glyphicon-calendar"></span> 3 days
</a>
<a href="#" class="btn btn-primary btn-lg btn-stats">
    <span class="glyphicon glyphicon-education"></span> &gt; 50 speakers</a>

<a href="#" class="btn btn-primary btn-lg btn-stats">
    <span class="glyphicon glyphicon-list"></span> 4 tracks</a>



<a href="#" class="btn btn-primary btn-lg btn-stats">
    <span class="glyphicon glyphicon-user"></span> &gt; 400 attendees</a>
    
    </span>