<ul class="progress-bar" style="width:300px">
    <li>
        <h5>Days ( 3 )</h5>
        <div class="meter"><span style="width: 15px;"></span></div>
    </li>
    <li>
        <h5>Tracks ( 4 )</h5>
        <div class="meter"><span style="width: 40px;"></span></div>
    </li>
    <li>
        <h5>Speakers ( > 50 )</h5>
        <div class="meter"><span style="width: 150px;"></span></div>
    </li>
    <li>
        <h5>Participants ( > 400 )</h5>
        <div class="meter"><span style="width: 250px;"></span></div>
    </li>
    <li>
        <h5>Java ( > 9000 )</h5>
        <div class="meter"><span style="width: 300px;"></span></div>
    </li>
</ul>