<div id="Event" class="vc_row wpb_row vc_row-fluid vc_custom_1461667894569">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner vc_custom_1461328663673">
            <div class="wpb_wrapper">
                <div class="info-box info-box-32560624 info-box-default-style">
                    <div class="info-box-default-style-image"
                         style="background-image:			linear-gradient(
					rgba(0, 0, 0, 0.5),
					rgba(0, 0, 0, 0.5)
			),url('{{base}}/assets/img/homepage/what_is_jbcn.jpg');">
                        <div class="info-box-default-style-image-wrapper">
                            <div class="info-box-default-style-content"><h2
                                    class="animate anim-fadeIn animate-delay-0-20">
                                {{ site.data.homepage.event_what_is_title }}</h2>
                                <p class="animate anim-fadeIn animate-delay-0-40" style="color:#FAFAD2;">{{
                                    site.data.homepage.event_what_is_desc}}</p>
                                <div class="readmore animate anim-fadeIn animate-delay-0-60"><span>Read More</span><i
                                        class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="info-box-default-style-hover-content-wrapper">
                        <div class="info-box-default-style-hover-content scrollbar-outer">
                            <div class="info-box-close-icon">x</div>
                            <h2>{{ site.data.homepage.event_what_is_title }}</h2>
                            {{ site.data.homepage.event_what_is_full }}
                        </div>
                    </div>
                    <script>
                        jQuery(document).ready(function ($) {
                            $(document).on('click', '.info-box.info-box-32560624 .info-box-default-style-image .info-box-default-style-image-wrapper .info-box-default-style-content .readmore', function () {
                                $('.info-box.info-box-32560624 .info-box-default-style-hover-content-wrapper').fadeIn();
                            });

                            $(document).on('click', '.info-box.info-box-32560624.info-box-default-style .info-box-default-style-hover-content-wrapper .info-box-default-style-hover-content .info-box-close-icon', function () {
                                $('.info-box.info-box-32560624.info-box-default-style .info-box-default-style-hover-content-wrapper').fadeOut();
                                $('.info-box.info-box-32560624.info-box-default-style .info-box-default-style-default .info-box-default-style-more').fadeIn();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner vc_custom_1461328667580">
            <div class="wpb_wrapper">
                <div class="info-box info-box-71663612 info-box-default-style">
                    <div class="info-box-default-style-image"
                         style="background-image:			linear-gradient(
					rgba(0, 0, 0, 0.5),
					rgba(0, 0, 0, 0.5)
			),url('{{base}}/assets/img/homepage/why_join_jbcn.jpg');">
                        <div class="info-box-default-style-image-wrapper">
                            <div class="info-box-default-style-content"><h2
                                    class="animate anim-fadeIn animate-delay-0-20">{{ site.data.homepage.event_why_participate_title }}</h2>
                                <p class="animate anim-fadeIn animate-delay-0-40" style="color:#FAFAD2;">{{
                                    site.data.homepage.event_why_participate_desc }}</p>
                                <div class="readmore animate anim-fadeIn animate-delay-0-60"><span>Read More</span><i
                                        class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="info-box-default-style-hover-content-wrapper">
                        <div class="info-box-default-style-hover-content scrollbar-outer">
                            <div class="info-box-close-icon">x</div>
                            <h2>Why Should I Participate?</h2>
                            <p>{{ site.data.homepage.event_why_participate_full }}</p>
                        </div>
                    </div>
                    <script>
                        jQuery(document).ready(function ($) {
                            $(document).on('click', '.info-box.info-box-71663612 .info-box-default-style-image .info-box-default-style-image-wrapper .info-box-default-style-content .readmore', function () {
                                $('.info-box.info-box-71663612 .info-box-default-style-hover-content-wrapper').fadeIn();
                            });

                            $(document).on('click', '.info-box.info-box-71663612.info-box-default-style .info-box-default-style-hover-content-wrapper .info-box-default-style-hover-content .info-box-close-icon', function () {
                                $('.info-box.info-box-71663612.info-box-default-style .info-box-default-style-hover-content-wrapper').fadeOut();
                                $('.info-box.info-box-71663612.info-box-default-style .info-box-default-style-default .info-box-default-style-more').fadeIn();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
