<div id="Programme"
     class="vc_row wpb_row vc_row-fluid bgfixed vc_custom_1461848382931 vc_row-has-fill vc_row-o-equal-height vc_row-flex">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461332634962">
            <div class="wpb_wrapper">
                <div id="scheduleBottomRow"
                     class="vc_row wpb_row vc_inner vc_row-fluid container-fluid backgroundcenterright mobile-no-background vc_custom_1469637344591 vc_row-has-fill vc_row-o-equal-height vc_row-flex">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-12 vc_col-xs-12">
                        <div class="vc_column-inner vc_custom_1469637155497">
                            <div class="wpb_wrapper">
                                <div class="content-widget-title">
                                    <div class="content-title-text"><i class="fa fa-th-list"></i>
                                        <h3 style="color:#ffffff;">schedule<span class="separator">
											<span class="separator-line" style="background:#ffffff;"></span>
											<span class="separator-dot" style="border-color:#ffffff;"></span>
										</span></h3>
                                        <p style="color:#ffffff;">Nam pellentesque dui ante, in suscipit justo laoreet sit
                                            amet. Ut ex erat, bibendum in.</p></div>
                                </div>
                                <div class="vc_empty_space" style="height: 33px"><span
                                        class="vc_empty_space_inner"></span></div>
                                <div class="schedule-widget style3">
                                    <ul class="nav nav-tabs animate anim-fadeInDown animate-delay-0" role="tablist">
                                        <li role="presentation"><a href="#schedule_id_7" aria-controls="schedule_id_7"
                                                                   role="tab" data-toggle="tab"><h3>May 22</h3><span>Monday</span></a>
                                        </li>
                                        <li role="presentation"><a href="#schedule_id_8" aria-controls="schedule_id_8"
                                                                   role="tab" data-toggle="tab"><h3>May 23</h3>
                                            <span>Tuesday</span></a>
                                        </li>
                                        <li role="presentation"><a href="#schedule_id_9" aria-controls="schedule_id_9"
                                                                   role="tab" data-toggle="tab"><h3>May 24</h3>
                                            <span>Wednesday</span></a>
                                        </li>
                                        <li role="presentation"><a href="#schedule_id_10" aria-controls="schedule_id_10"
                                                                   role="tab" data-toggle="tab"><h3>May 25</h3>
                                            <span>Thursday</span></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane" id="schedule_id_7">
                                            <ul class="tab-content-schedule-list">
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">10:00</div>
                                                    <div class="title"><span class="heading">Phasellus convallis imperdiet urna eu ultricies.</span><span
                                                            class="speaker">Orlina Maelee / </span><span class="topic">Project Finance Expert / </span><span
                                                            class="salon">Red Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">12:00</div>
                                                    <div class="title"><span class="heading">Coffee Break</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">13:15</div>
                                                    <div class="title"><span class="heading">Fusce finibus, urna nec imperdiet volutpat, ligula elit tincidunt tellus.</span><span
                                                            class="speaker">Lorenza Lola Vard / </span><span
                                                            class="topic">Finance Expert at Renaissance Construction / </span><span
                                                            class="salon">White Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">15:00</div>
                                                    <div class="title"><span class="heading">Phasellus convallis imperdiet urna eu ultricies.</span><span
                                                            class="speaker">Robert Ben Bloom / </span><span class="topic">Chief Economist, Head Of Ceo Office At RED / </span><span
                                                            class="salon">Red Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">17:00</div>
                                                    <div class="title"><span class="heading">Curabitur hendrerit velit at consequat mollis.</span><span
                                                            class="speaker">Karl Lara / </span><span
                                                            class="topic">PHP Developer / </span><span
                                                            class="salon">Lightfull Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">18:00</div>
                                                    <div class="title"><span class="heading">Closing Speech</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="schedule_id_8">
                                            <ul class="tab-content-schedule-list">
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">10:30</div>
                                                    <div class="title"><span class="heading">Lorem Ipsum has been the industry&#8217;s standard dummy text.</span><span
                                                            class="speaker">Orlina Maelee / </span><span class="topic">Project Finance Expert / </span><span
                                                            class="salon">Red Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">12:30</div>
                                                    <div class="title"><span class="heading">Lunch Break</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">13:00</div>
                                                    <div class="title"><span class="heading">Lorem Ipsum is not simply random text.</span><span
                                                            class="speaker">Robert Ben Bloom / </span><span class="topic">Chief Economist, Head Of Ceo Office At RED / </span><span
                                                            class="salon">Red Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">14:55</div>
                                                    <div class="title"><span class="heading">Eleifend massa ipsum eleifend aliquam pede.</span><span
                                                            class="speaker">Lorenza Lola Vard / </span><span
                                                            class="topic">Finance Expert at Renaissance Construction / </span><span
                                                            class="salon">White Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">16:30</div>
                                                    <div class="title"><span class="heading">Netus mi convallis netus volutpat tellus.</span><span
                                                            class="speaker">Karl Lara / </span><span
                                                            class="topic">PHP Developer / </span><span
                                                            class="salon">Lightfull Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">17:55</div>
                                                    <div class="title"><span class="heading">Closing Speech</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="schedule_id_9">
                                            <ul class="tab-content-schedule-list">
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">10:40</div>
                                                    <div class="title"><span class="heading">Scelerisque posuere mauris. Lacinia tristique per.</span><span
                                                            class="speaker">Orlina Maelee / </span><span class="topic">Project Finance Expert / </span><span
                                                            class="salon">Red Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">12:30</div>
                                                    <div class="title"><span class="heading">Coffee Break</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">13:00</div>
                                                    <div class="title"><span class="heading">Rutrum sed ante nisl pellentesque etiam.</span><span
                                                            class="speaker">Robert Ben Bloom / </span><span class="topic">Chief Economist, Head Of Ceo Office At RED / </span><span
                                                            class="salon">Red Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">15:00</div>
                                                    <div class="title"><span
                                                            class="heading">Nullam et nulla felis enim laoreet.</span><span
                                                            class="speaker">Lorenza Lola Vard / </span><span
                                                            class="topic">Finance Expert at Renaissance Construction / </span><span
                                                            class="salon">White Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">17:00</div>
                                                    <div class="title"><span
                                                            class="heading">Vivamus ornare metus proin et taciti.</span><span
                                                            class="speaker">Karl Lara / </span><span
                                                            class="topic">PHP Developer / </span><span
                                                            class="salon">Lightfull Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">18:00</div>
                                                    <div class="title"><span class="heading">Closing Speech</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="schedule_id_10">
                                            <ul class="tab-content-schedule-list">
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">10:00</div>
                                                    <div class="title"><span class="heading">Nam pellentesque aliquet imperdiet elementum placerat.</span><span
                                                            class="speaker">Orlina Maelee / </span><span class="topic">Project Finance Expert / </span><span
                                                            class="salon">Red Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">12:30</div>
                                                    <div class="title"><span class="heading">Coffee Break</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">13:05</div>
                                                    <div class="title"><span class="heading">Malesuada facilisis eu. Ante imperdiet sit.</span><span
                                                            class="speaker">Robert Ben Bloom / </span><span class="topic">Chief Economist, Head Of Ceo Office At RED / </span><span
                                                            class="salon">Red Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">15:00</div>
                                                    <div class="title"><span class="heading">Pellentesque class nascetur quisque suspendisse quis.</span><span
                                                            class="speaker">Lorenza Lola Vard / </span><span
                                                            class="topic">Finance Expert at Renaissance Construction / </span><span
                                                            class="salon">White Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">16:30</div>
                                                    <div class="title"><span class="heading">Nisl velit nec massa mauris mi aliquam libero mauris mi magna purus.</span><span
                                                            class="speaker">Karl Lara / </span><span
                                                            class="topic">PHP Developer / </span><span
                                                            class="salon">Lightfull Hall</span></div>
                                                </li>
                                                <li class="animate anim-fadeInDown">
                                                    <div class="hour">18:00</div>
                                                    <div class="title"><span class="heading">Coffee Break</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-12 vc_hidden-sm vc_col-xs-12 vc_hidden-xs">
                        <div class="vc_column-inner vc_custom_1469637165658">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
