<div id="Sponsors"
     class="vc_row wpb_row vc_row-fluid container-fluid animate anim-fadeIn vc_custom_1461855586554 vc_row-has-fill">
    <div class="content-widget-title">
        <div class="content-title-text"><i class="fa fa-life-ring"></i>
            <h3>Sponsors<span class="separator">
											<span class="separator-line"></span>
											<span class="separator-dot"></span>
										</span></h3>
            <p> {{ site.data.homepage.sponsors_desc }}</p>
        </div>
    </div>

    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461673193635">
            <div class="wpb_wrapper">
                <div class="clients-widget">
                    <div class="owl-carousel-clients-22509910">
                        
                        
                        <div class="item">
                            <a target="_blank" href="http://barcelonajug.org" title="Barcelona JUG">
                                <img
                                        src="{{ base }}/assets/img/logos/logo_bicolor_blog_barcelonajug.png"
                                        alt="Barcelona JUG"/>
                            </a>
                        </div>

                        {% for sponsor in site.data.sponsors.items %}
                        <div class="item">
                            <a target="_blank" href="{{ sponsor.href }}" title="{{ sponsor.name }}">
                                <img
                                        src="{{ base }}{{ sponsor.image.src }}"
                                        alt="{{ sponsor.image.alt }}"/>
                            </a>
                        </div>
                        {% endfor %}


                    </div>
                </div>
                <script>
                    jQuery(document).ready(function ($) {
                        $('.owl-carousel-clients-22509910').owlCarousel({
                            loop: true,
                            nav: false,
                            margin: 70,
                            dots: false,
                            autoWidth: true
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
