
{% include base.html %}

<div id="Travel" class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461336181509">
            <div class="wpb_wrapper">
                <div class="map-3d-tour">
                    <div class="map-3d-tour-content"
                         style="background-image:url('{{base}}/assets/img/barcelona/barcelona_java_conference.jpg');">
                        <i class="map-3d-tour-icon fa fa-map-marker"></i>
                        <h3 class="animate anim-fadeIn">Take a view over the conference area.</h3>
                        <p class="animate anim-fadeIn">If you are wondering what kind of a place you are going to visit
                            when you participate in this exciting conference, move your mouse to the point you wish to
                            see. Take a complete tour throughout the conference area. See beforehand the place we are
                            going to host you.</p>
                        <div class="map-3d-tour-button animate anim-fadeIn"><span>Take A 3D Tour</span><i
                                class="fa fa-angle-right"></i></div>
                    </div>
                    <div class="map-3d-tour-iframe"><i class="close fa fa-times"></i>
                        <iframe style="border:0"
                                src="https://www.google.com/maps/embed/v1/streetview?location=39.9490113,-75.147886&key=AIzaSyBq02p0VsuYhi4IramVz_CZphicy9cjUQw&fov=70"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
