{% include base.html %}

<div id="Travel" class="vc_row wpb_row vc_row-fluid container-fluid vc_custom_1461668209075">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461666279279">
            <div class="wpb_wrapper">
                <div class="content-widget-title">
                    <div class="content-title-text"><i class="fa fa-puzzle-piece"></i>
                        <h3>Travel<span class="separator">
											<span class="separator-line"></span>
											<span class="separator-dot"></span>
										</span></h3>
                        <p> {{ site.data.homepage.travel_subtitle }}</p>
                        <p>
                            <a href="{{base}}/java-barcelona-venue.html">
                                Venue: 
                                <u>                                
                                    Cinema Filmax Gran Via 2, Centre Comercial Gran Via 2<br/>
                                    Avinguda de la Granvia, 75 08908 L'Hospitalet de Llobregat, Barcelona
                                </u>

                            </a>
                        </p>

                    </div>
                </div>
                <div class="vc_empty_space" style="height: 33px"><span class="vc_empty_space_inner"></span></div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1461600189414">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-car"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">
                                        Transportation
                                    </h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">
                                        {{ site.data.homepage.travel_transportation }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1461600193083">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-bed"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">Accommodation</h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">
                                        {{ site.data.homepage.travel_accommodation }}
                                        <br/>
                                        <a href="{{ base }}/accomodation.html" title="Travel to Barcelona" class="more">
                                            Read More <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1461600196865">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-cutlery"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">Cafe &amp; Restaurant</h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">
                                        {{ site.data.homepage.travel_food }}
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1461600200548">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-spinner"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">Networking Event</h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">
                                        Details will be provided before the event.
                                    </p></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461336181509">
            <div class="wpb_wrapper">
                <div class="map-3d-tour">
                    <div class="map-3d-tour-content"
                         style="background-image:url('{{base}}/assets/img/barcelona/barcelona_java_conference.jpg');">
                        <h3 class="animate anim-fadeIn">{{ site.data.homepage.travel_title }}</h3>
                        <p class="animate anim-fadeIn">

                            {{ site.data.homepage.travel_desc }}

                        </p>
                        <div class="map-3d-tour-button animate anim-fadeIn">
                            <a href="{{base}}/travel-to-java-barcelona.html" style="color:white">

                                <span>Find out more</span><i
                                    class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
