<div class="sect1">
<h2 id="feedback-summary">Feedback summary</h2>
<div class="sectionbody">
<div class="paragraph">
<p>These are the top-half ranked workshops of JBCNConf 2019.</p>
</div>
<table class="tableblock frame-all grid-all" style="width: 75%;">
<colgroup>
<col style="width: 4.5454%;">
<col style="width: 72.7272%;">
<col style="width: 22.7274%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Workshop</th>
<th class="tableblock halign-left valign-top">Speaker(s)</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c196e0238da165f64820b2a">The Istio Workshop</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rafael Benevides</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c19651d38da16778cb20fc6">Poker Hands - Refactoring into Chain of Responsibility</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wlodek Krakowski</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c48ed3b9034ae38180b14e0">Boost the skills of programming with Code Retreat</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Matthew Gilliard</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c3b3b1938da16698cf41b09">Full Stack Reactive with React and Spring WebFlux</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Matt Raible, Josh Long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.jbcnconf.com/2019/infoTalk.html?id=5c770fff38da167fbce02cea">OpenShift for Developers in Action</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Josh Wood, Jorge Morales</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="ulist">
<ul>
<li>
<p>Aggregated votes from devices in rooms and mobile app</p>
</li>
<li>
<p>Attendees scored the talk from 1 to 5</p>
</li>
</ul>
</div>
</td>
</tr>
</table>
</div>
</div>
</div>