<div class="vc_row wpb_row vc_row-fluid container-fluid bgfixed vc_custom_1461848427453 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461667447436">
            <div class="wpb_wrapper">
                <div class="step-boxes">
                    <div class="step-boxes-item step-boxes-item-2 step-boxes-item-2-18748145408">
                        <div class="step-boxes-item-wrapper step-boxes-item-2">
                            <div class="step-boxes-item-wrapper-content"><h3>{{ site.data.homepage.counter_01_number }}</h3>
                                <p>{{ site.data.homepage.counter_01_label }}</p></div>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                $(".step-boxes-item-2-18748145408 h3").counterUp({
                                    delay: 10,
                                    time: 1200
                                });
                            });
                        </script>
                    </div>
                    <div class="step-boxes-item step-boxes-item-3 step-boxes-item-3-81632456250">
                        <div class="step-boxes-item-wrapper step-boxes-item-3">
                            <div class="step-boxes-item-wrapper-content"><h3>{{ site.data.homepage.counter_02_number }}</h3>
                                <p>{{ site.data.homepage.counter_02_label }}</p></div>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                $(".step-boxes-item-3-81632456250 h3").counterUp({
                                    delay: 10,
                                    time: 1200
                                });
                            });
                        </script>
                    </div>
                    <div class="step-boxes-item step-boxes-item-4 step-boxes-item-4-59248325115">
                        <div class="step-boxes-item-wrapper step-boxes-item-4">
                            <div class="step-boxes-item-wrapper-content"><h3>{{ site.data.homepage.counter_03_number }}</h3>
                                <p>{{ site.data.homepage.counter_03_label }}</p></div>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                $(".step-boxes-item-4-59248325115 h3").counterUp({
                                    delay: 10,
                                    time: 1200
                                });
                            });
                        </script>
                    </div>
                    <div class="step-boxes-item step-boxes-item-6 step-boxes-item-6-353552785600">
                        <div class="step-boxes-item-wrapper step-boxes-item-6">
                            <div class="step-boxes-item-wrapper-content"><h3>{{ site.data.homepage.counter_04_number }}</h3>
                                <p>{{ site.data.homepage.counter_04_label }}</p></div>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                $(".step-boxes-item-6-353552785600 h3").counterUp({
                                    delay: 10,
                                    time: 1200
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
