<div id="JBCN" class="vc_row wpb_row vc_row-fluid vc_custom_1461326947361">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461326978169">
            <div class="wpb_wrapper">
                <script>
                    jQuery(document).ready(function ($) {
                        $('.counter .counter-images').vegas({
                            timer: false,
                            slides: [
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_1.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_2.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_3.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_4.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_5.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_6.jpg'}

                            ]
                        });
                    });
                </script>
                <div class="counter">
                    <div class="counter-images"></div>
                    <div class="counter-box">
                        <div class="counter-box-general-wrapper">
                            <div class="counter-box-general-content-wrapper">
                                <div class="counter-box-general-content">
                                    <div class="counter-box-general-content-top" style="text-shadow: 2px -2px black;">
                                        <div class="left">J.</div>
                                        <div class="right">BCN</div>
                                        <div class="bottom">CONFERENCE</div>
                                    </div>
                                    <div class="counter-box-general-content-date" style="background:rgba(255,255,255,0.7);">
                                        <div class="counter-box-general-content-date-left">
                                            <div class="counter-box-general-content-date-left-left"></div>
                                            <div class="counter-box-general-content-date-left-top"></div>
                                            <div class="counter-box-general-content-date-left-bottom"></div>
                                        </div>
                                        <div class="counter-box-general-content-date-center">
                                            <div class="counter-box-general-content-date-days" style="text-shadow: 2px -2px white; color:black">11-12-13</div>
                                            <div class="counter-box-general-content-date-monthyear" style="text-shadow: 2px -2px white;">June 2018</div>
                                            <div style="color:black" class="">
                                                JVM & TECH<br/>
                                                Past Events:
                                                <a style="color:black" href="../2017/"
                                                   target="_blank"><u>2017</u>,</a>
                                                <a style="color:black" href="../2016/"
                                                   target="_blank"><u>2016</u>,</a>
                                                <a style="color:black" href="../2015/"
                                                   target="_blank"><u>2015</u></a>
                                            </div>
                                        </div>
                                        <div class="counter-box-general-content-date-right">
                                            <div class="counter-box-general-content-date-right-top"></div>
                                            <div class="counter-box-general-content-date-right-right"></div>
                                            <div class="counter-box-general-content-date-right-bottom"></div>
                                        </div>
                                    </div>

                                    <div style="text-shadow: 2px -2px black;"  class='DateCountdown' data-date='2018-06-11 05:00:00'></div>
                                    <script>
                                        jQuery(document).ready(function ($) {
                                            $('.DateCountdown').TimeCircles({
                                                'animation': 'smooth',
                                                'use_background': false,
                                                'bg_width': 0,
                                                'fg_width': 0,
                                                'time': {
                                                    'Days': {
                                                        'text': 'Days',
                                                        'show': true
                                                    },
                                                    'Hours': {
                                                        'text': 'Hours',
                                                        'show': true
                                                    },
                                                    'Minutes': {
                                                        'text': 'Minutes',
                                                        'show': true
                                                    },
                                                    'Seconds': {
                                                        'text': 'Seconds',
                                                        'show': true
                                                    }
                                                }
                                            });
                                        });
                                    </script>
                                    <div class="counter-box-button"><a href="{{ base }}/#Tickets"
                                                                       title="BUY TICKETS"><span>STAY TUNED, WE'LL OPEN SOON</span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
