<div id="Sponsors"
     class="vc_row wpb_row vc_row-fluid container-fluid animate anim-fadeIn vc_custom_1461855586554 vc_row-has-fill">
    <div class="content-widget-title">
        <div class="content-title-text"><i class="fa fa-life-ring"></i>
            <h3>Sponsors<span class="separator">
											<span class="separator-line"></span>
											<span class="separator-dot"></span>
										</span></h3>
            <p> {{ site.data.homepage.sponsors_desc }}</p>
        </div>
    </div>

    <div class="wpb_column vc_column_container vc_col-sm-12">

        <!-- {% if site.data.sponsors.diamond %}

        <div class="vc_column-inner" style="text-align: center;">

            <div class="sponsor-diamond">
                <h1>Diamond</h1>
                <a href="{{ site.data.sponsors.diamond.href }}" target="_blank" title="{{ site.data.sponsors.diamond.name }}">
                    <img src="{{base}}{{ site.data.sponsors.diamond.image.src }}" alt="{{ site.data.sponsors.diamond.image.alt }}"/>
                </a>
            </div>
        </div>

        {% endif %}


        <div class="vc_column-inner" style="text-align: center;">
            <hr class="sponsor-separator-gold sponsor-separator"/>
            <h1 class="sponsor-gold">Gold</h1>


            <div class="post-related-posts row">
                {% for sponsor in site.data.sponsors.gold %}
                <div class="item col-sm-4 col-xs-12" style="line-height: 200px;">
                    <div class="image align-middle">
                        <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                           style=" display:table-cell;    vertical-align:middle;">
                            <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:85%; max-width:85%"
                                 class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                 alt="{{ sponsor.image.alt }}"/></a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <hr class="sponsor-separator"/>

            <h1 class="sponsor-silver">Silver</h1>

            <div class="post-related-posts row">

                {% for sponsor in site.data.sponsors.silver %}
                <div class="item col-sm-3 col-xs-6" style="line-height: 150px;">
                    <div class="image align-middle">
                        <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                           style=" display:table-cell;    vertical-align:middle;">
                            <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:70%; max-width:70%"
                                 class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                 alt="{{ sponsor.image.alt }}"/></a>
                    </div>
                </div>
                {% endfor %}
            </div>


            <hr class="sponsor-separator"/>

            <h1 class="sponsor-bronze">Bronze</h1>

            <div class="post-related-posts row">

                {% for sponsor in site.data.sponsors.bronze %}
                <div class="item col-sm-2 col-xs-6" style="line-height: 100px;">
                    <div class="image align-middle">
                        <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                           style=" display:table-cell;    vertical-align:middle;">
                            <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:70%; max-width:70%"
                                 class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                 alt="{{ sponsor.image.alt }}"/></a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <hr class="sponsor-separator"/>

            <h1 class="sponsor-supporter">Supporters</h1>
            <div class="post-related-posts row">

                {% for sponsor in site.data.sponsors.supporters %}
                <div class="item col-sm-2 col-xs-6" style="line-height: 100px;">
                    <div class="image align-middle">
                        <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                           style=" display:table-cell;    vertical-align:middle;">
                            <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:70%; max-width:70%"
                                 class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                 alt="{{ sponsor.image.alt }}"/></a>
                    </div>
                </div>
                {% endfor %}
            </div> -->

            <hr class="sponsor-separator"/>

        </div>

    </div>
</div>
