{% include base.html %}

<div id="Travel" class="vc_row wpb_row vc_row-fluid container-fluid vc_custom_1461668209075">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461666279279">
            <div class="wpb_wrapper">
                <div class="content-widget-title">
                    <div class="content-title-text"><i class="fa fa-puzzle-piece"></i>
                        <h3>Travel<span class="separator">
											<span class="separator-line"></span>
											<span class="separator-dot"></span>
										</span></h3>
                        <p> {{ site.data.homepage.travel_subtitle }}</p>

                        <h4>The workshops are organized in a separate facility within walking distance (15m) from the
                            venue for the talks.</h4>
                        <a target="_blank"
                           href="https://www.google.es/maps/dir/Filmax+Granvia,+C.C.+Gran+V%C3%ADa+2,+Avda.+Gran+V%C3%ADa,+75,+08908+Hospitalet+de+Llobregat,+Barcelona/Hotel+Fira+Congress+Barcelona,+Pol%C3%ADgono+Industrial+de+la+Pedrosa,+Calle+de+Jos%C3%A9+Agust%C3%ADn+Goytisolo,+9-11,+08908+L'Hospitalet+de+Llobregat,+Barcelona/Europa+%7C+Fira/@41.355354,2.1226522,16z/data=!3m1!4b1!4m20!4m19!1m5!1m1!1s0x12a498beede99cef:0x139283c13221c7be!2m2!1d2.1286963!2d41.3581589!1m5!1m1!1s0x12a498c810926477:0xd4d624a7d233c44d!2m2!1d2.1273512!2d41.3523282!1m5!1m1!1s0x12a498c74abb383f:0xbc471cbf75523773!2m2!1d2.1245712!2d41.3571862!3e2">
                            <i class="fa fa-map"></i>
                        </a>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 33px"><span class="vc_empty_space_inner"></span></div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner vc_custom_1461600189414">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-comments"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">
                                        Talks
                                    </h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner vc_custom_1461600200548">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-code-fork"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">
                                        Workshops
                                    </h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 33px"><span class="vc_empty_space_inner"></span></div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1461600189414">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-car"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">
                                        Transportation
                                    </h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">
                                        {{ site.data.homepage.travel_transportation }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1461600193083">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-bed"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">Accommodation</h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">
                                        {{ site.data.homepage.travel_accommodation }}
                                        <br/>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1461600196865">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-cutlery"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">Cafe &amp; Restaurant</h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">
                                        {{ site.data.homepage.travel_food }}
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1461600200548">
                            <div class="wpb_wrapper">
                                <div class="service-box service-box-icon-style">
                                    <div class="service-box-icon animate anim-fadeInDown animate-delay-0"><i
                                            class="fa fa-spinner"></i></div>
                                    <h2 class="animate anim-fadeInDown animate-delay-0-20">Networking Event</h2>
                                    <p class="animate anim-fadeInDown animate-delay-0-40">

                                    </p></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461336181509">
            <div class="wpb_wrapper">
                <div class="map-3d-tour">
                    <div class="map-3d-tour-content"
                         style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('{{base}}/assets/img/barcelona/barcelona_java_conference.jpg');">
                        <h3 class="animate anim-fadeIn">{{ site.data.homepage.travel_title }}</h3>
                        <p class="animate anim-fadeIn">

                            {{ site.data.homepage.travel_desc }}

                        </p>
                        <div class="map-3d-tour-button animate anim-fadeIn">
                            <a href="{{base}}/travel-to-java-barcelona.html" style="color:white">

                                <span>Find out more</span><i
                                    class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
