<table>
    <tr><td>WORKSHOP</td><td align="right">POINTS</td><td align="right">VOTES</td><td align="right">AVERAGE</td></tr>
    <tr>
        <td>Cirque du application development - containers, Kubernetes, and OpenShift by Jorge Morales and Grant Shipley</td><td align="right">72</td><td align="right">15</td><td align="right">4,80</td>
    </tr>
    <tr>
        <td>Let's do reactive web applications with Spring 5, Web Flux and Kafka by Carlos Rubio and Marcelo Colomer</td><td align="right">99</td><td align="right">21</td><td align="right">4,71</td>
    </tr>
    <tr>
        <td>Thinking in Functional Style 'Solving Commonly Recurring Code Problems using Java's Functional Capabilities.' by Venkat Subramaniam</td><td align="right">258</td><td align="right">55</td><td align="right">4,69</tr>
    </tr>
    <tr>
        <td>Functional DB access in Scala with Doobie by Albert Pastrana</td><td align="right">232</td><td align="right">50</td><td align="right">4,64</td>
    </tr>
    <tr>
        <td>Integrating cloud services with Apache Camel by Claus Ibsen and Nicola Ferraro</td><td align="right">147</td><td align="right">32</td><td align="right">4,60</td>
    </tr>
    <tr>
        <td>Make your own chess engine and change the world! By Teodor Ande Elstad and Simen Haugerud Granlund</td><td align="right">100</td><td align="right">22</td><td align="right">4,54</td>
    </tr>
    <tr>
        <td>Real Life Cloud Native Java in Kubernetes by Mario Romano and Mauricio Salatino</td><td align="right">81</td><td align="right">18</td><td align="right">4,50</td>
    </tr>
    <tr>
        <td>RxJava Code Lab by Josef Raska</td><td align="right">191</td><td align="right">44</td><td align="right">4,34</td>
    </tr>
    <tr>
        <td>Functional DB access in Scala with Doobie by Albert Pastrana</td><td align="right">26</td><td align="right">6</td><td align="right">4,33</td>
    </tr>
    <tr>
        <td>Google Cloud Native with Spring Boot by Ray Tsang</td><td align="right">147</td><td align="right">34</td><td align="right">4,32</td>
    </tr>
    <tr>
        <td>Staying pure with Kotlin and Spring 5 by Jarek Ratajski</td><td align="right">203</td><td align="right">48</td><td align="right">4,23</td>
    </tr>
    <tr>
        <td>Getting started with Kafka Streams in 120 minutes by Jeroen Resoort</td><td align="right">78</td><td align="right">19</td><td align="right">4,11</td>
    </tr>
    <tr>
        <td>Docker In Anger for Java Developers by Anton Maria Rodriguez Yuste</td><td align="right">87</td><td align="right">22</td><td align="right">3,95</td>
    </tr>
    <tr>
        <td>Building continuous delivery for Microservices with Jenkins X by Robert Davies and James Rawlings</td><td align="right">50</td><td align="right">13</td><td align="right">3,84</td>
    </tr>
    <tr>
        <td>Android CI with Docker by Jing Li and Miguel Angel Gomez</td><td align="right">59</td><td align="right">16</td><td align="right">3,68</td>
    </tr>
    <tr>
        <td>GraphQL in Java World by Vladimir Dejanovic</td><td align="right">91</td><td align="right">26</td><td align="right">3,50</td>
    </tr>
</table>