<div class="row schedule-row schedule-header">
    <div class="{{scheduleLeftWidth}}">
    </div>

    {% include schedule/schedule-header-workshops.html %}

</div>

<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}}">
        08:30 - 9:00
    </div>

    {% assign breakContent = 'Registration' %}
    {% include schedule/schedule-break-single-track.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        09:00 - 10:55
    </div>

    {% assign rowHour = 'SE1' %}
    {% include schedule/schedule-multitrack-workshop-row.html %}

</div>

<div class="row schedule-row  schedule-break">
    <div class="{{scheduleLeftWidth}}">
        11:00 - 11:35
    </div>

    {% assign breakContent = 'Coffee Break' %}
    {% include schedule/schedule-break-single-track.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        11:40 - 13:35
    </div>

    {% assign rowHour = 'SE2' %}
    {% include schedule/schedule-multitrack-workshop-row.html %}

</div>



