---
layout: default
title: JBCNConf - The first Java and JVM conference in Spain
---

{% include base.html %}
{% include slider.html %}


<!--start: Wrapper-->
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <!-- start: Hero Unit -->
        <div class="hero-unit">
            proudly hosted by:
            <h1>Barcelona Java User Group</h1>
            <p>
                Do not miss the opportunity to participate in this event to immerse yourself in 3-days interesting talks
                on Java, JVM and open-source technologies.
            </p>
        </div>
        <!-- end: Hero Unit -->

        <!-- start: Hero Unit -->
        <div class="hero-unit">
            <h2>Call for Papers</h2>
            <p>
                Are you an enthusiast and geek? Do yo want to share your knowledge and experiences?
                Join as speaker in JBCNConf. <br/>The call for papers will be open until 1st of May.
            </p>
            <h2 class="pagination-centered"><a href="https://goo.gl/forms/RGrCs36VcfpRMHX43">Send Paper</a></h2>
        </div>
        <!-- end: Hero Unit -->

        <hr>

        <!-- start: Row -->
        <div class="row">

            <div class="span4">
                <div class="icons-box">
                    <i class="ico-credit circle big"></i>
                    <div class="title"><h3>Sponsorship</h3></div>
                    <p>
                        This is a priceless opportunity to participate in the first big Java and JVM conference in Spain, to promote your company and to support technological communities.

                    </p>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="span4">
                <div class="icons-box">
                    <i class="ico-heart circle big"></i>
                    <div class="title"><h3>Code of conduct</h3></div>
                    <p>
                        Our code sets out expectations for members of our community,
                        with regard to how we will behave toward each other.

                    </p>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="span4">
                <div class="icons-box">
                    <i class="ico-tags circle big"></i>
                    <div class="title"><h3>Tickets</h3></div>
                    <p>
                        Tickets are going to be available for purchasing before the end of February.
                    </p>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <!-- end: Row -->

        <hr>

        <div class="row">
            <h2 class="pagination-centered">Join the conversation #JBCN17</h2>
            <div class="span6">
                <a class="twitter-timeline"  href="https://twitter.com/jbcnconf" data-widget-id="709504526965993472" data-tweet-limit="3" width="400" height="400" data-chrome="transparent">Tweets by @jbcnconf.</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="span6">
                <a class="twitter-timeline"  href="https://twitter.com/hashtag/jbcn17" data-widget-id="823659523089059844">Tweets about #jbcn17</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <div class="clear"></div>
            </div>
        </div>

        <hr>


        <h2>Sponsors:</h2>
        <!-- start Sponsors List -->
        <div class="clients-carousel">

            <ul class="slides clients">


            </ul>

        </div>
        <!-- end Sponsors List -->
        <hr>

    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  -->