---
layout: default
---

{% include base.html %}
{% include speaker.html %}

<!--start: Wrapper-->
<div id="wrapper">

    <!--start: Container -->
    <div class="container speaker-page">

        <!-- start: Hero Unit -->
        <div class="hero-unit">
            <br/>
            <h1 class="name"></h1>
            <p class="description">

            </p>
        </div>
        <!-- end: Hero Unit -->

        <div class="row">
            <div class="span4">
                <div class="icons-box">
                    <a href="#">
                        <img class="circle medium speaker-image" style="opacity: 1"
                             data-image-base="{{ base }}"
                             src=""/>
                    </a>

                    <div class="social_profiles">
                        <ul class="social-bookmarks pull-right">

                            <li style="display: none !important;" class="linkedin"><a target="_blank"
                                                                          href="#"></a></li>

                            <li style="display: none !important;" class="twitter"><a target="_blank"
                                                                         href="#"></a></li>

                            <li style="display: none !important;" class="rss homepage"><a target="_blank"
                                                                              href="#"></a>
                            </li>


                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span8">
                <div id="history">
                    <div class="title"><h3>About</h3></div>
                    <span class="dropcap"> </span>
                    <p class="biography">
                    </p>
                    <div class="title"><h3 class="talk-title"></h3></div>
                    <p class="abstract">

                    </p>
                </div>
            </div>
        </div>

    </div>
    <!--end: Container-->


</div>
<!-- end: Wrapper  -->