---
layout: default
title: JBCNConf - Venue Location
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>Venue</li>
            </ul>
        </div>

        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
                <div class="category-post-list post-list single-list">
                    <article id="post-294"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <ul class="post-information">

                                </ul>
                                <h2></h2>
                                <h2><b>Cinema Filmax Gran Via 2 </br> & Hotel Fira Congress Barcelona</b></h2>
                                <p>
                                <h4>Talks Day (Monday-Tuesday): </h4>
                                Centre Comercial Gran Via 2
                                Avinguda de la Granvia, 75
                                08908 L'Hospitalet de Llobregat, Barcelona
                                </p>
                                <p>
                                <h4>Workshops Day (Wednesday): </h4>
                                Hotel Fira Congress Barcelona<br/>
                                C/ José Agustín Goytisolo, 9-11
                                Hospitalet de Llobregat, Barcelona.
                                </p>
                                <p>
                                    <a target="_blank" href="http://granvia2.com/web/en/como-llegar"><u> >> How to get
                                        here? << </u></a> <br/>
                                    <img  class="media-middle" src="{{base}}/assets/img/barcelona/conference-map.png"/>
                                    Google Maps:
                                    <a target="_blank"
                                       href="https://www.google.es/maps/dir/Filmax+Granvia,+C.C.+Gran+V%C3%ADa+2,+Avda.+Gran+V%C3%ADa,+75,+08908+Hospitalet+de+Llobregat,+Barcelona/Hotel+Fira+Congress+Barcelona,+Pol%C3%ADgono+Industrial+de+la+Pedrosa,+Calle+de+Jos%C3%A9+Agust%C3%ADn+Goytisolo,+9-11,+08908+L'Hospitalet+de+Llobregat,+Barcelona/Europa+%7C+Fira/@41.355354,2.1226522,16z/data=!3m1!4b1!4m20!4m19!1m5!1m1!1s0x12a498beede99cef:0x139283c13221c7be!2m2!1d2.1286963!2d41.3581589!1m5!1m1!1s0x12a498c810926477:0xd4d624a7d233c44d!2m2!1d2.1273512!2d41.3523282!1m5!1m1!1s0x12a498c74abb383f:0xbc471cbf75523773!2m2!1d2.1245712!2d41.3571862!3e2">
                                        <i class="fa fa-map"></i>
                                    </a>
                                </p>
                                <p>
                                    Gran Via 2 is at the heart of a new zone under expansion. Access the centre from the
                                    south of Barcelona via the
                                    Av. de la Gran Via.
                                    This is the same area that is hosting the Mobile World Congress every February.
                                </p>
                                <p>
                                    Access by <b>metro:</b> station Europa | Fira, Lines: 8, 9S: <a target="_blank"
                                                                                                    href="https://www.google.es/maps/dir/Terminal+1+A,+Barcelona/Europa+%7C+Fira,+08908+L'Hospitalet+de+Llobregat,+Barcelona/@41.3232767,2.0577081,13z/am=t/data=!4m16!4m15!1m5!1m1!1s0x12a49e76a1e15465:0xc5a09421fc330d7c!2m2!1d2.070215!2d41.287655!1m5!1m1!1s0x12a498c74abb383f:0xbc471cbf75523773!2m2!1d2.1245712!2d41.3571862!2m1!5e1!3e3?hl=en">
                                    35 minutes from the airport, <u>Terminals 1 & 2.</u>
                                </a>
                                </p>

                            </div>

                            <div class="post-content">


                                <iframe src="https://www.google.com/maps/d/embed?mid=1nXV_PVymVwOwIgEN_m_xxCc4by4&hl=en"
                                        width="640" height="480"></iframe>
                                <img width="1274" height="630"
                                     src="{{ base }}/assets/img/venue/granvia2.jpg"
                                     class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image"
                                     alt=""/>
                                <img width="1274" height="630"
                                     src="{{ base }}/assets/img/venue/granvia2_cine.jpg"
                                     class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image"
                                     alt=""/>

                            </div>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
                {% include hotels.html %}
            </div>

        </div>
    </div>

</div>

