---
layout: default
title: JBCNConf - Sponsor Tickets
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>Sponsor Tickets</li>
            </ul>
        </div>

        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
                <div class="category-post-list post-list single-list">
                    <article id="post-294"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <ul class="post-information">

                                </ul>
                                <h2></h2>
                                <p>The Barcelona Java User Group is a non profit association with a great team and a broad experience in Java
                                    technologies. Since 2012, we are organizing talks and meetups focused on <strong>Java</strong> topics, looking
                                    forward to spin this technology from our hometown to the rest of the world.
                                </p>



                                <!-- Ticket Tailor Widget. Paste this in to your website where you want the widget to appear. Do no change the code or the widget may not work properly. -->
                                <div class="tt-widget row">

                                    <div class="tt-widget-fallback">
                                        <p><a href="https://www.tickettailor.com/new-order/81154/cc20/ref/website_widget/"
                                              target="_blank"><h2>Click here to buy tickets</h2></a><br/>
                                            <small><a href="http://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell
                                                tickets online with Ticket Tailor</a></small>
                                        </p>
                                    </div>
                                    <script src="https://dc161a0a89fedd6639c9-03787a0970cd749432e2a6d3b34c55df.ssl.cf3.rackcdn.com/tt-widget.js"
                                            data-url="https://www.tickettailor.com/new-order/81154/cc20/ref/website_widget/"
                                            data-type="inline" data-inline-minimal="true" data-inline-show-logo="false"
                                            data-inline-bg-fill="true"></script>
                                </div>
                                <!-- End of Ticket Tailor Widget -->

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
                {% include recent-events.html %}
            </div>

        </div>
    </div>

</div>

