---
layout: default
title: JBCNConf - Terms and conditions
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}

<div class="content-heading">
  <div class="container-fluid">
    <div class="heading-navigation">
      <i class="fa fa-address-book"></i>
      <ul>
        <li>Home</li>
        <li>&#47;</li>
        <li>Conditions & Privacy policy</li>
      </ul>
    </div>

    <div class="heading-title">
    </div>
  </div>
</div>

<div class="site-sub-content clearfix">
  <div class="container-fluid">
    <div class="row alternative-row">
      <div class="col-lg-8 col-sm-8 col-xs-12 col-lg-offset-2 col-sm-offset-2">
        <div class="category-post-list post-list single-list">
          <article id="post-294" class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
            <div class="post-wrapper">
              <div class="post-header">
                <ul class="post-information"></ul>
                <h2></h2>
                <h2>Terms and conditions</h2>
              </div>

              <div class="post-content">
                <ol>
                <li>Once the ticket has been bought, it will neither be changed nor the amount refunded, except for causes stipulated in the legislation in force.</li>
                <li>Impossibility to assist to the event or an error during the ticket buying process will not be valid causes to refund.</li>
                <li>Cancellation and refund will only be possible whenever BarcelonaJUG notifies it, and it normally happens in event cancellation cases.</li>
                <li>Tickets are not allowed to be used for marketing, promotions, competitions unless BarcelonaJUG concedes an express formal written authorization.</li>
                <li>Use of commercial brands o any other intellectual property of BarcelonaJUG will be also subject to express written consent of BarcelonaJUG.</li>
                <li>Use of non authorized photographic or recording devices is forbidden.</li>
                <li>The place and BarcelonaJUG are not responsible of any personal belonging.</li>
                <li>Ticket buyers give their consent to video and sound recording as part of the general public.</li>
                <li>An infringement of any of the terms, or any other unacceptable act that can cause damage will give rights to BarcelonaJUG to expel the user from the place.</li>
                <li>BarcelonaJUG does not accept responsibility for the loss or theft of tickets.</li>
                <li>Attendees agree that they personal info will be sent to the person that scans their badge with our mobile app.</li>
              </ol>
              </div>
            </div>

        </div>
      </div>

    </div>
    </article>
  </div>
</div>

<div class="site-sub-content clearfix">
  <div class="container-fluid">
    <div class="row alternative-row">
      <div class="col-lg-8 col-sm-8 col-xs-12 col-lg-offset-2 col-sm-offset-2">
        <div class="category-post-list post-list single-list">
          <article id="post-294" class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
            <div class="post-wrapper">
              <div class="post-header">
                <ul class="post-information"></ul>
                <h2></h2>
                <h2>Privacy policy</h2>
              </div>

              <div class="post-content">
                <style>
                  p {margin-bottom: 5px;}
                </style>

                <div id="content">
                  <div class="sect1">
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p>This is the privacy declaration of JBCNConf, a non-profit event organized by Barcelona Java User Group (“Barcelona JUG” hereinafter).</p>
                  </div>
                  <div class="paragraph">
                  <p><em>Barcelona JUG</em> is a non-profit association comprised of volunteer staff with the aim of promoting knowledge and good practices about software development, and more specifically around Java/JVM technologies.</p>
                  </div>
                  <div class="paragraph">
                  <p>Barcelona JUG cares deeply about your privacy. We strive to protect the privacy and the confidentiality of personal data we process.
                  Hence, we do everything in our power to comply with the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data (hereafter the ‘Regulation’) or any applicable data protection legislation (hereinafter collectively with the Regulation referred to as the ‘Data Protection Law’).</p>
                  </div>
                  <div class="paragraph">
                  <p>The words ‘personal data’, ‘controller’, ‘processor’, ‘process’, ‘processing’, ‘profiling’, ‘data subject’ and all its derivatives used in this Privacy Declaration shall have the meaning set out in the Regulation.</p>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_identity_of_the_controller_and_contact_details">1. Identity of the controller and contact details</h2>
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p>Barcelona JUG as organizer of the JBCNConf is the controller of the personal data that is used to organize the conference and related activities.</p>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_the_personal_data_we_collect_and_process">2. The personal data we collect and process</h2>
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p>Personal data collected falls under the following main categories:</p>
                  </div>
                  <div class="ulist">
                  <ul>
                  <li>
                  <p>Identification data (e.g. name, surname, id card…)</p>
                  </li>
                  <li>
                  <p>Contact data (e.g. email address…)</p>
                  </li>
                  <li>
                  <p>Financial data (e.g. bank account number, VAT number…)</p>
                  </li>
                  </ul>
                  </div>
                  <div class="paragraph">
                  <p>These personal data may relate to you in your capacity as a customer or supplier of <em>Barcelona JUG</em> and JBCNConf, but also to you as a business relationship of one of our clients, and/or as one of the attendees of our conferences.</p>
                  </div>
                  <div class="paragraph">
                  <p>We collect and process personal data that you provide to us directly (e.g. by sending a proposal or buying a ticket). Occasionally we may as well collect contact data through another route, for example via a public source or provided by one of our clients, sponsors or attendees.</p>
                  </div>
                  <div class="paragraph">
                  <p>We do not use automated data processing (e.g. activity analysis) or so-called <em>“profiling” that may involve the generation of derivative data.</em></p>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_purposes_of_and_legal_basis_for_the_processing_personal_data">3. Purposes of and legal basis for the processing personal data</h2>
                  <div class="sectionbody">
                  <div class="sect2">
                  <h3 id="_in_general">3.1. In General</h3>
                  <div class="paragraph">
                  <p>We process your personal data for various purposes, including conducting our general and financial administration, the organization of our (future) conferences, to keep you updated about our (future) conferences, managing our customer and supplier base, providing a correct service and the proper execution of our agreements and direct marketing activities (e.g. sending newsletters).</p>
                  </div>
                  <div class="paragraph">
                  <p>Article 6.1 of the Regulation indicates the legal grounds on the basis of which personal data may be processed. Below we give you a brief overview of the legal grounds we rely on for the processing of personal data.</p>
                  </div>
                  <div class="paragraph">
                  <p>Your personal data may be processed:</p>
                  </div>
                  <div class="ulist">
                  <ul>
                  <li>
                  <p>Based upon your consent: we process personal data based upon your explicit and specific consent. Your consent is freely given and can be withdrawn at any moment.</p>
                  </li>
                  <li>
                  <p>For compliance with a legal obligation to which we are subject to: we have to comply with various legal obligations, under which we are obliged to maintain specific (personal) data.</p>
                  </li>
                  <li>
                  <p>For the performance of a contract to which you are a party or in order to take steps at your request prior to entering into a contract: to execute our agreements, it’s necessary to process personal data. We hereby always limit ourselves to processing the data that are strictly necessary.</p>
                  </li>
                  </ul>
                  </div>
                  </div>
                  <div class="sect2">
                  <h3 id="_attending_our_conferences">3.2. Attending our conferences</h3>
                  <div class="paragraph">
                  <p>Organization of the JBCNConf requires a lot of administration. Nevertheless we try to keep it very simple for our attendees.</p>
                  </div>
                  <div class="olist loweralpha">
                  <ol class="loweralpha" type="a">
                  <li>
                  <p>Buying an entrance ticket for one of our conferences</p>
                  <div class="paragraph">
                  <p>Registering for one of our conferences takes only a few steps. First of all we ask you to fill in an online form.
                  In this form we ask you for several types of personal data, like identification data (name, surname, company you’re connected to) and contact details (address, email address) of the attendee(s).
                  For the avoidance of the doubt, if a third party buys a ticket for someone else (e.g. an employer for its employees) we will ask and process data from the attendees for whom a ticket will be bought.
                  After you’ve been registered, we will ask you to pay for your entrance ticket(s).
                  Therefore, we may ask you for your bank account number, card number, name of the card holder, the due date of the card, VAT number… The processing of these data is a necessary step prior to entering into a contract with us. Without the processing of these data you will be unable to attend (one of) our conferences.</p>
                  </div>
                  </li>
                  <li>
                  <p>Sharing your personal data with the exhibitors</p>
                  <div class="paragraph">
                  <p><em>JBNConf</em> (through its mobile app) facilitates attendees to freely share their identification and contact information with sponsors.
                  This does not include any financial information or additional data than the one provided during ticket acquisition.
                  Attendees choose the sponsors we share their personal data with. At the entrance of <em>JBCNConf</em> conference attendees receive a QR-Code.
                  The sponsors are able to scan this QR-code which contains the information.
                  Attendees are responsible for requiring each one of the sponsors they interact with the respective data policies.</p>
                  </div>
                  </li>
                  </ol>
                  </div>
                  </div>
                  <div class="sect2">
                  <h3 id="_direct_marketing_activities">3.3. Direct marketing activities</h3>
                  <div class="paragraph">
                  <p>We also process personal data for reasons of direct marketing.</p>
                  </div>
                  <div class="paragraph">
                  <p>We deem it to be one of our legitimate interests to communicate with our customers (e.g. attendees, speakers, sponsors, providers…). Therefore, we may send you information about our products, services and future conferences if we consider you as a part of our customer base.
                  This will be the case if you visited one of our previous conferences, or if you contacted us by mail or subscribed to our newsletter, or if you’re a customer of one of our business relationships.</p>
                  </div>
                  <div class="paragraph">
                  <p>If you no longer want to receive our communications, you can unsubscribe by clicking the unsubscribe link contained at the bottom of any marketing email we send to you and following the instructions which appear in your browser following your clicking on that link.</p>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_who_has_access_to_your_personal_data">4. Who has access to your personal data?</h2>
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p>Only a limited number of the conference staff have direct access to the personal data we’ve collected and processed, and are bound to confidentiality.</p>
                  </div>
                  <div class="paragraph">
                  <p><em>Barcelona JUG</em> does not share your personal data with third parties for any other purpose than mentioned in this Privacy Declaration, unless when we are required to do so by law or for the purposes of prevention of fraud or other crime.</p>
                  </div>
                  <div class="paragraph">
                  <p>We do however pass your information to our third party service providers, agents, subcontractors and other associated organizations for the purposes of completing tasks and providing services to you on our behalf (e.g. email communication, payment processing, back-up storage…). We only discloses the essential personal data to its sub-processors that are necessary for the execution of their services.</p>
                  </div>
                  <div class="paragraph">
                  <p>If we transfer personal data to countries outside the EEA, we will, in all circumstances, take appropriate safeguards and establish legal grounds justifying such transfer.</p>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_how_long_do_we_keep_your_personal_data">5. How long do we keep your personal data?</h2>
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p>We keep your personal data as long as required to comply with our legal obligations and to provide our services in a correct manner or because we have a legitimate interest to keep your personal data.</p>
                  </div>
                  <div class="paragraph">
                  <p>At any moment you have the possibility to object against further processing of your personal data.</p>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_how_do_we_protect_your_personal_data">6. How do we protect your personal data?</h2>
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p><em>Barcelona JUG</em> takes appropriate measures to prevent misuse, loss, unauthorized access, unwanted disclosure and unauthorized modification.
                  If you have the impression that your data is not properly secured or there are indications of abuse, please contact our customer service or via <a href="mailto:info@barcelonajug.org">info@barcelonajug.org</a>.</p>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_what_rights_do_you_have_regarding_the_processing_of_your_personal_data">7. What rights do you have regarding the processing of your personal data?</h2>
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p>The Regulation provides you with various rights regarding the processing of your personal data.
                  If you wish to invoke your privacy rights, please contact <a href="mailto:info@barcelonajug.org">info@barcelonajug.org</a>.
                  We will normally respond to your request within 30 days. This period can be extended by a further two months if the request is complex or if you send us several requests.
                  We will notify you of this extension within 30 days after we’ve received your request.</p>
                  </div>
                  <div class="olist arabic">
                  <ol class="arabic">
                  <li>
                  <p>Right of access: you have the right to know which of your personal data we’ve collected and processed.</p>
                  </li>
                  <li>
                  <p>Right to rectification: it can happen that certain information held on you is not (or has ceased to be) correct. You can ask for the data to be corrected or completed at any time.</p>
                  </li>
                  <li>
                  <p>Right to erasure: you can ask to erase the personal data that we’ve collected and process about you (‘right to be forgotten’). We may deny this request if further processing of this personal data is needed to comply with a legal obligation, for the executing of a contract or to protect our legitimate interests or the legitimate interests of our clients, suppliers or those of a third party.</p>
                  </li>
                  <li>
                  <p>Right to data portability:&nbsp;you are entitled to ask for personal data that you have provided <em>Barcelona JUG</em> (in relation to JBCNConf) to be transferred back to you or to a third party. The data protection laws do lay down a number of restrictions on exercise of this right, so that it is not applicable to all data.</p>
                  </li>
                  </ol>
                  </div>
                  <div class="paragraph">
                  <p>Under the circumstances and conditions set by the Regulation, you also have the following rights regarding the processing of your personal data.</p>
                  </div>
                  <div class="olist arabic">
                  <ol class="arabic">
                  <li>
                  <p>Right to restriction of processing: the right to restrict the processing of your personal data.&nbsp;</p>
                  </li>
                  <li>
                  <p>Right to object: if you disagree with how we invokes its legitimate interests to process certain data, you can object. We shall heed objections unless there are overriding grounds not to do so, such as when we process data with a view to combating fraud.</p>
                  </li>
                  </ol>
                  </div>
                  <div class="paragraph">
                  <p>If processing of your personal data is based upon your explicit and prior consent, you can revoke your consent at any time.</p>
                  </div>
                  <div class="paragraph">
                  <p>In principle you can exercise these privacy rights free of charge. We ask to be as specific as possible when directing your request. In addition, we may ask personal data as proof of identity during the process.</p>
                  </div>
                  <div class="paragraph">
                  <p>If we are unable to resolve an inquiry or request, you have the right to lodge a complaint with a supervisory authority.</p>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_update_privacy_declaration">8. Update Privacy Declaration</h2>
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p><em>Barcelona JUG</em> is entitled to update this Privacy Declaration by posting a new version on the website.
                  As such, it is strongly recommended to regularly consult the website and the page explaining the Privacy Declaration, to make sure that you are aware of any changes.</p>
                  </div>
                  </div>
                  </div>
                  <div class="sect1">
                  <h2 id="_questions_requests_or_complaints">9. Questions, requests or complaints</h2>
                  <div class="sectionbody">
                  <div class="paragraph">
                  <p>If you have any questions regarding this Privacy Declaration, or if you want to submit a request you can contact us using the following contact details:</p>
                  </div>
                  <div class="paragraph">
                  <p>Associacio Barcelona Java Users Group<br>
                  NIF : ESG66419987<br>
                  Email: <a href="mailto:info@barcelonajug.org">info@barcelonajug.org</a></p>
                  </div>
                  </div>
                  </div>
                  </div>
              </div>
            </div>

        </div>
      </div>

    </div>
    </article>
  </div>
</div>

<!--
<div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
    {% include recent-events.html %}
</div>
-->

</div>
</div>

<script type='text/javascript' src='{{ base }}/assets/js/tag-colors.js'></script>

</div>
