---
layout: default
title: JBCNConf - Talks's feedback
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>Talks</li>
            </ul>
        </div>

        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
                <div class="category-post-list post-list single-list">
                    <article id="post-294"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <ul class="post-information">

                                </ul>
                                <h2>Talks</h2>
                                <p>
                                    {{site.data.homepage.talks_days}}
                                </p>

                            </div>

                            <div class="post-content">

                            {% include feedback/talks.html %}

                            </div>

                        * Attendees scored the talk or workshop from 1 to 5
                    </article>
                </div>
            </div>

        </div>
    </div>

    <script type='text/javascript'
            src='{{ base }}/assets/js/tag-colors.js'></script>

</div>

