---
layout: default
title: JBCNConf - Venue Location
bodyClass: home page-template-default page page-id-7 eventstation-class eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
  <div class="container-fluid">
    <div class="heading-navigation">
      <i class="fa fa-address-book"></i>
      <ul>
        <li>Home</li>
        <li>&#47;</li>
        <li>Venue</li>
      </ul>
    </div>

    <div class="heading-title">
    </div>
  </div>
</div>

<div class="site-sub-content clearfix">
  <div class="container-fluid">
    <div class="row alternative-row">
      <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
        <div class="category-post-list post-list single-list">
          <article id="post-294" class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
            <div class="post-wrapper">
              <div class="post-header">
                <ul class="post-information">

                </ul>
                <h2></h2>
                <h2><b>CCiB</b></h2>

                <h3>Talks & workshops ({{site.data.homepage.talks-workshops}}): </h3>
                <p>
                  <a href="http://www.ccib.es">CCiB</a><br>
                  <br> Plaça de Willy Brandt, 11-14<br> 08019 Barcelona
                </p>
                <table>
                  <tr>
                    <td>
                      <img width="600" height="450" src="assets/img/venue/ccib.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="" />
                    </td>
                    <td>
                      <p>
                        <iframe src="https://goo.gl/48YzKh" width="450" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </p>

                      <p>
                        Access by <b>metro:</b> station Maresme/Forum - line 4 (yellow),<br> * 1 hour from the airport, Terminals 1 & 2. <br> * 35 minutes from Plaça
                        Catalunya
                      </p>
                    </td>
                  </tr>
                </table>
                <div>
                  CCIB Exhibition Hall <br>
                  <img width="800" height="600" src="assets/img/venue/ccib_perspective.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="CCIB Exhibition Hall"><br>
                  CCIB Rooms View <br>
                  <img width="800" height="600" src="assets/img/venue/ccib_room.jpg" class="attachment-eventstation-blog-list size-eventstation-blog-list wp-post-image" alt="CCiB Rooms">
                </div>
              </div>
            </div>

          </article>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
        {% include hotels.html %}
      </div>

    </div>
  </div>

</div>
