<div id="JBCN" class="vc_row wpb_row vc_row-fluid vc_custom_1461326947361">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461326978169">
            <div class="wpb_wrapper">
                <script>
                    jQuery(document).ready(function ($) {
                        $('.counter .counter-images').vegas({
                            timer: false,
                            slides: [
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_1.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_2.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_3.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_4.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_5.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_6.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_7.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_8.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_9.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_10.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_11.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_12.jpg'}

                            ]
                        });
                    });
                </script>
                <div class="counter">
                    <div class="counter-images"></div>
                    <div class="counter-box">
                        <div class="counter-box-general-wrapper">
                            <div class="counter-box-general-content-wrapper">
                                <div class="counter-box-general-content">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="counter-box-general-content-top" style="text-shadow: 2px -2px black;">
                                                    <div class="left">JBCNConf</div>
                                                </div>
                                                <div class="counter-box-general-content-date" style="background:rgba(255,255,255,0.7);">
                                                    <div class="counter-box-general-content-date-left">
                                                        <div class="counter-box-general-content-date-left-left"></div>
                                                        <div class="counter-box-general-content-date-left-top"></div>
                                                        <div class="counter-box-general-content-date-left-bottom"></div>
                                                    </div>
                                                    <div class="counter-box-general-content-date-center">
                                                        <div class="counter-box-general-content-date-days" style="text-shadow: 2px -2px white; color:black">{{site.data.homepage.days}}</div>
                                                        <div class="counter-box-general-content-date-monthyear" style="text-shadow: 2px -2px white;">{{site.data.homepage.month_year}}</div>
                                                        <div class="counter-box-general-content-date-monthyear" style="text-shadow: 2px -2px white;">In Person Edition&nbsp;&nbsp;</div>
                                                        <div style="color:black" class="">
                                                            JVM & TECH<br/>
                                                            Past Events:
                                                            <a style="color:black" href="../2021/"
                                                            target="_blank"><u>2021</u>,</a>
                                                            <a style="color:black" href="../2019/"
                                                            target="_blank"><u>2019</u>,</a>
                                                            <a style="color:black" href="../2018/"
                                                            target="_blank"><u>2018</u>,</a>
                                                            <a style="color:black" href="../2017/"
                                                            target="_blank"><u>2017</u>,</a>
                                                            <a style="color:black" href="../2016/"
                                                            target="_blank"><u>2016</u>,</a>
                                                            <a style="color:black" href="../2015/"
                                                            target="_blank"><u>2015</u></a>
                                                        </div>
                                                    </div>
                                                    <!--
                                                    <div class="counter-box-general-content-date-right">
                                                        <div class="counter-box-general-content-date-right-top"></div>
                                                        <div class="counter-box-general-content-date-right-right"></div>
                                                        <div class="counter-box-general-content-date-right-bottom"></div>
                                                    </div>
                                                    -->

                                                </div>   
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <div class="counter-box-general-content-date" >
                                                    <div class="counter-box-general-content-date-center">
                                                        <div class="counter-box-general-content-date-monthyear" style="color: white">
                                                        we have evolved ...<br>
                                                        meet us in 2023 as 
                                                        <img src="/2022/assets/img/icons/finger-point.png"/>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </td>
                                            <td>                           
                                                <div class="counter-box-general-content-top" style="text-shadow: 2px -2px black;">
                                                    <div class="left"><a href="https://www.devbcn.com" target="_blank"><img src="/2022/assets/img/logos/devbcn.png" width="300px">&nbsp;&nbsp;</a></div>
                                                </div>
                                                <div class="counter-box-general-content-date">
                                                    <div class="counter-box-general-content-date-center">
                                                        <a href="https://www.devbcn.com" target="_blank">
                                                            <div class="counter-box-general-content-date-monthyear" style="text-shadow: 2px -2px white; background:rgba(255,255,255,0.7);" >July 2023&nbsp;&nbsp;</div>
                                                            <div class="counter-box-general-content-date-monthyear" style="text-shadow: 2px -2px white; background:rgba(255,255,255,0.7);"><a href="https://www.devbcn.com" target="_blank">www.DevBcn.com</a>&nbsp;&nbsp;</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>    
                                    <table>
                                        <tr>
                                            <td colspan="3" style="background:rgba(41, 41, 42, 0.7);">
                                                JBCNConf 2022 Edition Resources
                                            </td>
                                        </tr>                                        
                                        <tr>
                                            <td style="background:rgba(41, 41, 42, 0.7);">
                                                <a href="https://www.youtube.com/playlist?list=PLo0fJV3LkR3z42GevLgXlQfNFP2qfgtrq">Videos</a>
                                            </td>                                          
                                            <td style="background:rgba(41, 41, 42, 0.7);">
                                                <a href="https://www.flickr.com/photos/barcelonajug/collections/72157720937175671/">Pictures</a>
                                            </td>                                            
                                            <td style="background:rgba(41, 41, 42, 0.7);">
                                                <a href="https://docs.google.com/presentation/d/1t1RnYOqcoP8Bo1GVyiGyW-mY_2bBpUspnW8nqXDUbGI/edit?usp=sharing">Summary slides</a>
                                            </td>
                                        </tr>
                                        <!--
                                        <tr>
                                            <td colspan="3">
                                              <div class="counter-box-button" style="background: red">
                                                <a href="{{ base }}/covid19.html" title="Covid19 & 2020 Cancellation"><span>COVID-19 & 2020 Cancellation</span></a>
                                              </div>
                                                <br>
                                            </td>
                                        </tr>
                                        -->
                                        <tr>
                                            <!--
                                            <td>
                                                <div class="counter-box-button" style="background: red">
                                                  <a href="{{ site.data.homepage.tickets_url }}" title="{{ site.data.homepage.ticket_buy }}">
                                                    <span>{{ site.data.homepage.ticket_buy }}</span>
                                                  </a>
                                                </div>
                                            </td>
                                            -->
<!--
                                            <td>
                                              <div class="counter-box-button" style="background: #1260eb">
                                                <a href="{{ base }}/callForPapers.html" title="CALL FOR PAPERS"><span>CALL FOR PAPERS</span></a>
                                              </div>
                                            </td>
-->
<!--
                                            <td>
                                              <div class="counter-box-button" style="background: blue">
                                                <a href="become-sponsor.html" title="Become Sponsor"><span>Become Sponsor</span></a>
                                              </div>
                                            </td>
-->
                                            {% assign menu = site.data.menu.items | where: "label", "Diversity" | first %}
                                            {% if menu.disabled != true %}
                                            <td>
                                                <div class="counter-box-button" style="background: plum">
                                                    <a href="diversity.html" title="Diversity Sponsorship"><span>Diversity Sponsorship</span></a>
                                                </div>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
