{% include base.html %}

<div id="Tickets" class="vc_row wpb_row vc_row-fluid container-fluid vc_custom_1461837918304">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461330636619">
            <div class="wpb_wrapper">
                <div class="content-widget-title">
                    <div class="content-title-text"><i class="fa fa-ticket"></i>
                        <h3>Tickets<span class="separator">
											<span class="separator-line"></span>
											<span class="separator-dot"></span>
										</span></h3>
                        <p>{{ site.data.homepage.ticket_section_desc }}</p>
                        <p>Check the <a href="conditions.html">terms and conditions</a></p>
                        <table>
                            <tr>
                                <td align="center"><h3>{{ site.data.homepage.ticket_staytuned }}</h3></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 33px"><span class="vc_empty_space_inner"></span></div>


            </div>

        </div>


    </div>
</div>
