<div class="row schedule-row schedule-header">
    <div class="{{scheduleLeftWidth}}">
    </div>

    {% include schedule/schedule-header-hotel.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        09:00 - 11:00
    </div>

    {% assign rowHour = 'SE1' %}
    {% include schedule/schedule-multitrack-row.html %}

</div>


<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        11:30 - 13:30
    </div>

    {% assign rowHour = 'SE2' %}
    {% include schedule/schedule-multitrack-row.html %}

</div>


