<div class="row schedule-row schedule-header">
    <div class="{{scheduleLeftWidth}}">
    </div>

    {% include schedule/schedule-header.html %}

</div>
<div class="row schedule-row  schedule-break">
    <div class="{{scheduleLeftWidth}}">
        08:30 - 09:00
    </div>

    {% assign breakContent = 'Registration' %}
    {% include schedule/schedule-break-single-track.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        09:00 - 09:35
    </div>

    {% assign breakContent = 'WELCOME' %}
    {% include schedule/schedule-break-single-track.html %}

</div>


<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        09:40 - 10:30
    </div>

    {% assign rowHour = 'SE1' %}
    {% include schedule/schedule-single-track-row.html %}

</div>

<div class="row schedule-row  schedule-break">
    <div class="{{scheduleLeftWidth}}">
        10:35 - 11:05
    </div>

    {% assign breakContent = 'Coffee Break' %}
    {% include schedule/schedule-break-single-track.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        11:10 - 12:00
    </div>

    {% assign rowHour = 'SE2' %}
    {% include schedule/schedule-multitrack-row.html %}

</div>


<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        12:10 - 13:00
    </div>

    {% assign rowHour = 'SE3' %}
    {% include schedule/schedule-multitrack-row.html %}

</div>

<div class="row schedule-row  schedule-break">
    <div class="{{scheduleLeftWidth}}">
        13:15 - 14:25
    </div>

    {% assign breakContent = 'Lunch' %}
    {% include schedule/schedule-break-single-track.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        14:30 - 15:20
    </div>

    {% assign rowHour = 'SE4' %}
    {% include schedule/schedule-multitrack-row.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        15:35 - 16:25
    </div>

    {% assign rowHour = 'SE5' %}
    {% include schedule/schedule-multitrack-row.html %}

</div>


<div class="row schedule-row  schedule-break">
    <div class="{{scheduleLeftWidth}}">
        16:30 - 17:00
    </div>

    {% assign breakContent = 'Coffee Break' %}
    {% include schedule/schedule-break-single-track.html %}

</div>

<div class="row schedule-row">
    <div class="{{scheduleLeftWidth}}">
        17:05 - 17:55
    </div>

    {% assign rowHour = 'SE6' %}
    {% include schedule/schedule-multitrack-row.html %}

</div>

<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}} ">
        19:00
    </div>

    {% assign breakContent = 'Bus from the venue to the networking party' %}
    {% include schedule/schedule-break-single-track.html %}

</div>


<div class="row schedule-row schedule-break">
    <div class="{{scheduleLeftWidth}} ">
        20:00
    </div>

    {% assign breakContent = '<a href="networking-party.html">Networking Party</a>' %}
    {% include schedule/schedule-break-single-track.html %}

</div>





