
<script>

    (function(global){
        var talksList = [];

        {% for talk in site.data.talks.items %}
            var talk = {{ talk | jsonify }}
            talk.allSpeakers = [];
        {% for speaker in site.data.speakers.items %}
            {% if speaker.ref == talk.speakers[0] or speaker.ref == talk.speakers[1] %}

            talk.allSpeakers.push({{ speaker | jsonify }})

        {% endif %}
        {% endfor %}
            talksList.push(talk);


        {% endfor %}


        global.ALL_TALKS = talksList;

    }(window));


    //don't format this file
</script>