<div class="paragraph">
<p>JBCNConf is the biggest Java &amp; JVM conference in Spain, and has become the reference for Java developers in southern Europe with more than 740 attendees during the last edition.</p>
</div>
<div class="paragraph">
<p><strong>For the next edition we expect more than 800 attendees, next 18th to 20th of July in our 7th edition that will be in presence in Barcelona</strong></p>
</div>
<div class="paragraph">
<p>And we feel JBCNConf is the right place to go if you are considering</p>
</div>
<div class="ulist">
<ul>
<li>
<p><em>increasing IT branding of your organization</em>,</p>
</li>
<li>
<p><em>getting in touch with the best developers</em>,</p>
</li>
<li>
<p><em>contacting technology leaders</em> or just</p>
</li>
<li>
<p><em>improve your employee&#8217;s training</em> on the latest technologies.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you <strong>want to know more</strong> here is <a href="https://bit.ly/jbcn-22-brochure" target="_blank" rel="noopener"><strong>the Sponsorship brochure</strong></a>, or just have a look at the <a href="http://bit.ly/jbcn19photos" target="_blank" rel="noopener"><strong>pictures from the last edition</strong></a>.</p>
</div>
<div>
<a href="https://bit.ly/jbcn-22-brochure" target="_blank">
  <img src="assets/img/sponsors/brochure-icon-50.png" width="100" height="100" alt="Download">
</a>
<button type="button" class="btn btn-lg btn-primary" style="background: #1260eb">
  <i class="fa fa-envelope">
    <a href="mailto:info@barcelonajug.org?subject=JBCNConf2021%20Being%20a%20sponsor">Get in touch!</a>
  </i>
</button>
<div>
<div class="paragraph">
<p>Feel free to <strong>send us a message at <span class="icon"><i class="fa fa-envelope"></i></span> <a href="mailto:info@barcelonajug.org?subject=JBCNConf2020%20Being%20a%20sponsor" target="_blank" rel="noopener">info@barcelonajug.org</a></strong> sharing what you are looking for, questions, etc. and we will reach you.</p>
</div>
<div class="imageblock">
<div class="content">
  <table>
    <tr>
      <td><img src="assets/img/sponsors/mural/13.jpg"></td>
      <td><img src="assets/img/sponsors/mural/18.jpg"></td>
      <td><img src="assets/img/sponsors/mural/26.jpg"></td>
    </tr>
    <tr>
      <td><img src="assets/img/sponsors/mural/19.jpg"></td>
      <td><img src="assets/img/sponsors/mural/20.jpg"></td>
      <td><img src="assets/img/sponsors/mural/21.jpg"></td>
    </tr>
    <tr>
      <td><img src="assets/img/sponsors/mural/22.jpg"></td>
      <td><img src="assets/img/sponsors/mural/23.jpg"></td>
      <td><img src="assets/img/sponsors/mural/24.jpg"></td>
    </tr>
    <tr>
      <td><img src="assets/img/sponsors/mural/14.jpg"></td>
      <td><img src="assets/img/sponsors/mural/15.jpg"></td>
      <td><img src="assets/img/sponsors/mural/16.jpg"></td>

    </tr>
    <tr>
      <td><img src="assets/img/sponsors/mural/1.jpg"></td>
      <td><img src="assets/img/sponsors/mural/2.jpg"></td>
      <td><img src="assets/img/sponsors/mural/3.jpg"></td>
    </tr>
    <tr>
      <td><img src="assets/img/sponsors/mural/4.jpg"></td>
      <td><img src="assets/img/sponsors/mural/5.jpg"></td>
      <td><img src="assets/img/sponsors/mural/6.jpg"></td>
    </tr>
    <tr>
      <td><img src="assets/img/sponsors/mural/7.jpg"></td>
      <td><img src="assets/img/sponsors/mural/8.jpg"></td>
      <td><img src="assets/img/sponsors/mural/9.jpg"></td>
    </tr>
    <tr>
      <td><img src="assets/img/sponsors/mural/10.jpg"></td>
      <td><img src="assets/img/sponsors/mural/11.jpg"></td>
      <td><img src="assets/img/sponsors/mural/12.jpg"></td>
    </tr>

  </table>
</div>
</div>
