<footer class="footer animate anim-fadeIn" id="Contact">
    <div class="footer-widget">
        <div class="container-fluid">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="content-widget-title">
                                <div class="content-title-text"><i class="fa fa-info-circle"></i>
                                    <h3 style="color:#ffffff;">{{ site.data.footer.footer_section_title }}</h3>
                                    <p style="color:#ffffff;">{{ site.data.footer.footer_section_desc }}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1461351432336 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">

                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="content-widget-title small">
                                                <div class="content-title-text"><i class="fa fa-envelope"></i>
                                                    <h3>E-MAIL</h3></div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <a href="mailto:info@barcelonajug.org">
                                                        <h2 style="color: #ffffff;">
                                                            info@barcelonajug.org
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                </div>


                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="content-widget-title small">
                                                <div class="content-title-text"><i class="fa fa-share-alt-square"></i>
                                                    <h3>SOCIAL MEDIA</h3></div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span></div>
                                            <div class="social-media-widget social-media-white">
                                                <ul>
                                                    <li><a href="https://www.meetup.com/BarcelonaJUG/" title="Facebook Barcelona JUG" target="_blank"><i
                                                            class="fa fa-facebook"></i></a></li>

                                                    <li><a href="https://twitter.com/jbcnconf/" title="Twitter Barcelona JUG" target="_blank"><i
                                                            class="fa fa-twitter"></i></a></li>

                                                    <li><a href="https://github.com/barcelonajug" title="Github Barcelona JUG" target="_blank"><i
                                                            class="fa fa-github"></i></a></li>

                                                    <li><a href="https://www.linkedin.com/groups/4115806" title="Linkedin" target="_blank"><i
                                                            class="fa fa-linkedin"></i></a></li>

                                                    <li><a href="https://www.youtube.com/user/BarcelonaJUG" title="YouTube"
                                                           target="_blank"><i class="fa fa-youtube"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="content-widget-title small">
                                <div class="content-title-text"><i class="fa fa-meetup"></i>
                                    <h3>Events:</h3></div>
                            </div>
                            <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span></div>
                            <div class="content-widget-title small">

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>
                                            <a style="color: #ffffff;" target="_blank"
                                               href="https://www.meetup.com/BarcelonaJUG/">meetup.com/BarcelonaJUG</a>
                                        </p>
                                        <p>
                                            <a style="color: #ffffff;" target="_blank"
                                               href="http://www.barcelonajug.org/">barcelonajug.org</a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element  vc_custom_1461598466648">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center; margin-bottom: 0px; letter-spacing: 0.5px; font-family: 'Roboto';"><span
                                            style="color: #ffffff;">© 2018 <a style="color:red;"
                                                                              href="http://www.barcelonajug.org/">Barcelona JUG.</a><br/> All Rights Reserved.</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>