---
layout: default
title: JBCNConf - COVID19 & 2020 Cancellation for Java & JVM Barcelona Conference
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}

<style>
    .remove-speaker-button {
        float: right;
        margin-bottom: 10px;
    }
    select.form-control {
        height: 41px;
    }
    input.form-control,
    select.form-control,
    textarea.form-control {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-left-width: medium;
        border-left-style: solid;
        border-left-color: gray;
    }
    input:required, select:required, textarea:required {
        border-left-color: salmon;
    }
    input.invalid, select.invalid, textarea.invalid {
        border-color: orangered;
    }
    input.valid, select.valid, textarea.valid {
        border-color: darkolivegreen;
    }
    .missing_data {
        background-color: salmon;
    }
    .mandatory {
        text-align: right;
        font-style: italic;
        color: red;
    }
</style>

<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>COVID 19 & Change dates</li>
            </ul>
        </div>

        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-8 col-sm-8 col-xs-12 col-lg-offset-2 col-sm-offset-2">
                <div class="category-post-list post-list single-list">
                    <article id="post-294" class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <ul class="post-information"></ul>
                                <h2></h2>
                                <h2>Covid19 & 2020 Cancellation </h2>
                            </div>
                            <div class="post-content">
                                <p>The JBCNConf team would like to thank you for your interest in our 2020 edition and we hope you are well and safe.

                                    Our team has been following very closely the unfolding Covid-19 crisis and considering the best interest of attendees, speakers and sponsors we believe that cancelling the 2020 edition is the best option at this moment.

                                    This is not an easy decision for us organizers as we already put a lot of effort into the 2020 edition, but we've considered that:

                                    a personal event is all about close contact with people
                                    travel restriction might prevent speakers and attendees coming from abroad.
                                    We want to provide the best experience for our public and with these restrictions, we simply can't do it.</p>
                                <p>
                                    <b>Ticket Refund</b>

                                    We'll start compulsorily refunding all tickets after the 1st of July, except for those companies that already have agreed to move their tickets to 2021.
                                    Take into consideration that the payment platform might charge you a fee for refunding although we think this will unlikely happen. We're sorry if that happens to you but this is totally out of our control.
                                    Also, pleae bear with us as this will involve time to refund one by one each ticket , so it can take us some days.

                                    <b>Keep your Ticket for 2021</b>
                                    If you prefer to keep your ticket and use it the 2021 edition please fill the form linked on the email your received before 1st of July. 
                                    We will save complete reservations ( all the tickets included ), as we can not refund/save reservations partially.
                                </p>
                                <p>
                                    <b>2021 Edition </b>

                                    The next edition is already scheduled for 12th to 14th of July 2021, at the same venue, CCIB, and with the same configuration regarding tracks and sessions.

                                    We hope to see you in this 6th edition that will be even bigger than before.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
<!--
<div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
    {% include recent-events.html %}
</div>
-->
        </div>
    </div>


</div>
