<div class="theiaStickySidebar">
    <div id="eventstation_latest_latest_posts_widget-3"
         class="general-sidebar-wrap widget-box animate anim-fadeIn widget_eventstation_latest_latest_posts_widget">
        <div class="widget-title"><h4>Our Sponsors</h4></div>
        <div class="widget-content">
            <div class="eventstation-latest-posts-widget">

                {% if site.data.sponsors.diamond %}
                    <div style="text-align: center;">
                        <a target="_blank" href="{{ site.data.sponsors.diamond.href }}">
                            <img width="200"
                                 src="{{ base }}{{ site.data.sponsors.diamond.image.src }}"
                                 class="attachment-eventstation-latest-posts-widget size-eventstation-latest-posts-widget wp-post-image"
                                 alt=""/>
                        </a>
                    </div>
                {% endif %}
                <hr/>

                {% if site.data.sponsors.galaxy-premium %}
                    <ul style="list-style: none outside none; margin:0; padding: 0; text-align: center;">
                        {% for sponsor in site.data.sponsors.galaxy-premium %}
                        <li style=" margin: 0 10px; display: inline;">
                            <div class="">
                                <a target="_blank" href="{{ sponsor.href }}">
                                    <img width="180"
                                         src="{{ base }}{{ sponsor.image.src }}"
                                         class="attachment-eventstation-latest-posts-widget size-eventstation-latest-posts-widget wp-post-image"
                                         alt=""/>
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr/>
                {% endif %}
                {% if site.data.sponsors.galaxy-regular %}
                    <ul style="list-style: none outside none; margin:0; padding: 0; text-align: center;">
                        {% for sponsor in site.data.sponsors.galaxy-regular %}
                        <li style=" margin: 0 10px; display: inline;">
                            <div class="">
                                <a target="_blank" href="{{ sponsor.href }}">
                                    <img width="150"
                                         src="{{ base }}{{ sponsor.image.src }}"
                                         class="attachment-eventstation-latest-posts-widget size-eventstation-latest-posts-widget wp-post-image"
                                         alt=""/>
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr/>
                {% endif %}
                {% if site.data.sponsors.galaxy-basic %}
                    <ul style="list-style: none outside none; margin:0; padding: 0; text-align: center;">
                        {% for sponsor in site.data.sponsors.galaxy-basic %}
                        <li style=" margin: 0 10px; display: inline;">
                            <div class="">
                                <a target="_blank" href="{{ sponsor.href }}">
                                    <img width="120"
                                         src="{{ base }}{{ sponsor.image.src }}"
                                         class="attachment-eventstation-latest-posts-widget size-eventstation-latest-posts-widget wp-post-image"
                                         alt=""/>
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr/>
                {% endif %}


                {% if site.data.sponsors.silver %}
                    <ul style="list-style: none outside none; margin:0; padding: 0; text-align: center;">
                        {% for sponsor in site.data.sponsors.silver %}
                        <li style=" margin: 0 10px; display: inline;">

                            <a target="_blank" href="{{ sponsor.href }}">
                                <img width="100" height="50"
                                     src="{{ base }}{{ sponsor.image.src }}"
                                     class="attachment-eventstation-latest-posts-widget size-eventstation-latest-posts-widget wp-post-image"
                                     alt=""/>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>
                    <hr/>
                {% endif %}

                {% if site.data.sponsors.bronze %}
                    <ul style="list-style: none outside none; margin:0; padding: 0; text-align: center;">
                        {% for sponsor in site.data.sponsors.bronze %}
                        <li style=" margin: 0 10px; display: inline;">

                            <a target="_blank" href="{{ sponsor.href }}">
                                <img width="80" height="48" style="float:left"
                                     src="{{ base }}{{ sponsor.image.src }}"
                                     class="attachment-eventstation-latest-posts-widget size-eventstation-latest-posts-widget wp-post-image"
                                     alt=""/>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
