<div class="{{scheduleRightWidth}}" xmlns="http://www.w3.org/1999/html">

    <div class="schedule-cell col-xs-12 col-sm-6 col-md-3">
        <span class="visible-xs visible-sm hidden-md hidden-track">
                          Track #1:
        </span>

        <div id="{{scheduleDay}}-TC1-{{rowHour}}">
            -
        </div>
    </div>


    <div class="schedule-cell col-xs-12 col-sm-6 col-md-3">
        <span class="visible-xs visible-sm hidden-md hidden-track">
                          Track #2:
        </span>

        <div id="{{scheduleDay}}-TC2-{{rowHour}}">
            -
        </div>
    </div>


    <div class="schedule-cell col-xs-12 col-sm-6 col-md-3">
        <span class="visible-xs visible-sm hidden-md hidden-track">
                          Track #3:
        </span>

        <div id="{{scheduleDay}}-TC3-{{rowHour}}">
            -
        </div>
    </div>


    <div class="schedule-cell col-xs-12 col-sm-6 col-md-3">
        <span class="visible-xs visible-sm hidden-md hidden-track">
                          Track #4:
        </span>

        <div id="{{scheduleDay}}-TC4-{{rowHour}}">
            -
        </div>
    </div>

</div>