<div class="{{scheduleRightWidth}}">

    <div class="hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room1_workshops}}
    </div>

    <div class="hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room2_workshops}}
    </div>

    <div class=" hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room3_workshops}}
    </div>

    <div class=" hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room4_workshops}}
    </div>

    <div class=" hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room5_workshops}}
    </div>

</div>