/*----- CUSTOM TYPOGRAPHY START -----*/
body, .speakers-widget .speaker-item-header .speaker-item-topic-wrapper h4.speaker-item-topic-title, .speakers-widget .speaker-item-body h3, .counter-box .DateCountdown .time_circles > div h4, .footer-newsletter input[type="email"], .footer-newsletter input[type="submit"], .page404 .content404 .content404-bottom input[type="text"] {
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6, .eventstation-pagination, .content-heading .heading-navigation ul, .service-box.service-box-image-style .service-box-image-style-image .service-box-image-style-more, .event-box .event-box-image .event-box-image-wrapper .event-box-image-content-wrapper .event-box-image-content .event-box-image-content-top, .event-box .event-box-image .event-box-image-wrapper .event-box-image-content-wrapper .event-box-image-content .event-box-image-content-date, .counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-general-content-top, .counter-box .counter-box-general-wrapper .counter-box-general-content-wrapper .counter-box-general-content .counter-box-general-content-date, .counter-box .DateCountdown .time_circles > div, .schedule-widget .tab-content .tab-content-schedule-list li .hour, .widget_categories ul li, .widget_pages ul li, .widget_recent_comments ul li, .widget_recent_entries ul li, .widget_archive ul li, .widget_nav_menu ul li, .widget_rss ul li, .widget_meta ul li, .footer, .page404 .content404 .content404-bottom .icon404 {
    font-family: 'Roboto Slab';
}

h4.speaker-item-topic-title {
    text-shadow: -1px 1px 0 darkgrey, 1px 1px 0 darkgrey, 1px -1px 0 darkgrey, -1px -1px 0 darkgrey;
}
/*----- CUSTOM TYPOGRAPHY END -----*/

/*----- CUSTOM COLOR START -----*/
/*----- CUSTOM COLOR END -----*/
