.talk-list--item {
    margin-bottom: 25px;
    border: 1px solid #d5d5d5;
    padding: 16px;
    border-radius: 5px;
}

.talk-item-preheader {
    padding-bottom: 8px;
}

.talk-item-preheader > div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.talk-item-header {
    padding-bottom: 7px;
}

.talk-item-header h3 {
    margin: 0;
    display: inline;
    color: inherit;
}

.talk-language .fa,
.talk-level .fa {
    margin-right: 5px;
}

.talk-language-flag {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    height: 12px;
    width: 18px;
    display: inline-block;
    margin-left: 2px;
}

.talk-language-flag.es {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NTAgNTAwIj4NCjxwYXRoIGZpbGw9IiNjNjBiMWUiIGQ9Im0wLDBoNzUwdjUwMGgtNzUweiIvPg0KPHBhdGggZmlsbD0iI2ZmYzQwMCIgZD0ibTAsMTI1aDc1MHYyNTBoLTc1MHoiLz4NCjwvc3ZnPg0K);
}

.talk-language-flag.eng {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    height: 11px;
    width: 22px;
}

.talk-item-preheader.detail {
    padding-bottom: 25px;
    padding-top: 15px;
    padding-left: 5px;
}