body {
    background-color: black !important;
    color: ghostwhite !important;
}

h1, h2, h3 {
    font-family: 'Exo', sans-serif;
}

h4, h5, h6 {
    font-family: 'Monda', sans-serif;
}

p, span, a, li, td, th, button, label, input, textarea {
    font-family: 'Source Code Pro', monospace;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
