---
layout: default
title: JBCNConf - Diversity Plan
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}

<style>
.paragraph p {
  margin-bottom: 1.25rem;
}
</style>

<div class="content-heading">
  <div class="container-fluid">
    <div class="heading-navigation">
      <i class="fa fa-address-book"></i>
      <ul>
        <li>Home</li>
        <li>&#47;</li>
        <li>Diversity Plan</li>
      </ul>
    </div>

    <div class="heading-title">
    </div>
  </div>
</div>

<div class="site-sub-content clearfix">
  <div class="container-fluid">
    <div class="row alternative-row">
      <div class="col-lg-8 col-sm-8 col-xs-12 col-lg-offset-2 col-sm-offset-2">
        <div class="category-post-list post-list single-list">
          {% assign menu = site.data.menu.items | where: "label", "Diversity" | first %} 
          {% if menu.disabled != true %}
          <article id="post-294" class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
            <div class="post-wrapper">
              <div class="post-header">
                <ul class="post-information"></ul>
                <h2></h2>
                <h2>Diversity Sponsorship</h2>
              </div>

              <div class="post-content">
                <style>
                  p {margin-bottom: 5px;}
                </style>
                <div id="content">
                  {% include diversity/diversity-terms.html %}
                </div>
              </div>
            </div>
          </article>
          {% endif %}
        </div>
      </div>  
    </div>
  </div>
</div>


<script type='text/javascript' src='{{ base }}/assets/js/tag-colors.js'></script>
