---
layout: default
title: JBCNConf - FOSS & Diversity Communities
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}

<style>
    .remove-speaker-button {
        float: right;
        margin-bottom: 10px;
    }
    select.form-control {
        height: 41px;
    }
    input.form-control,
    select.form-control,
    textarea.form-control {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-left-width: medium;
        border-left-style: solid;
        border-left-color: gray;
    }
    input:required, select:required, textarea:required {
        border-left-color: salmon;
    }
    input.invalid, select.invalid, textarea.invalid {
        border-color: orangered;
    }
    input.valid, select.valid, textarea.valid {
        border-color: darkolivegreen;
    }
    .missing_data {
        background-color: salmon;
    }
    .mandatory {
        text-align: right;
        font-style: italic;
        color: red;
    }
</style>

<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>FOSS & Diversity Communities</li>
            </ul>
        </div>

        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-8 col-sm-8 col-xs-12 col-lg-offset-2 col-sm-offset-2">
                <div class="category-post-list post-list single-list">
                    <article id="post-294" class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <ul class="post-information"></ul>
                                <h2></h2>
                                <h2>FOSS & Diversity Communities </h2>
                            </div>
                            <div class="post-content">
                                <p>The JBCNConf team would like to thank these communities representing the FOSS and Diversity.

                                    This edition we are glad to provide a free stand for some communities that work to share free and open source software or diversity improvement.</p>
                                <table>
                                    <tr>
                                        <td>ECLIPSE FOUNDATION</td>
                                        <td>Tanja and Shabnam</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
<!--
<div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
    {% include recent-events.html %}
</div>
-->
        </div>
    </div>


</div>