---
layout: default
title: JBCNConf - The first Java and JVM conference in Spain
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---

{% include base.html %}


<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1461326947361 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461667894569 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461667953502 {
    padding-top: 61px !important;
    padding-bottom: 27px !important;
}

.vc_custom_1461668209075 {
    padding-top: 27px !important;
    padding-bottom: 31px !important;
}

.vc_custom_1461837918304 {
    margin-top: 27px !important;
    padding-top: 34px !important;
    padding-bottom: 38px !important;
}

.vc_custom_1461848427453 {
    padding-bottom: 35px !important;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url({{base}}/assets/img/homepage/counters_bg.jpg) !important;

}

.vc_custom_1461673433268 {
    margin-top: 0px !important;
    padding-top: 62px !important;
}

.vc_custom_1461855586554 {
    margin-top: 23px !important;
    margin-bottom: -47px !important;
    border-top-width: 1px !important;
    border-top-color: #eeeeee !important;
    border-top-style: solid !important;
}

.vc_custom_1461326978169 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461328663673 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461328667580 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461330636619 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461332634962 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1469637155497 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1469637165658 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461666279279 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461600189414 {
    margin-bottom: 30px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.vc_custom_1461600193083 {
    margin-bottom: 30px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.vc_custom_1461600196865 {
    margin-bottom: 30px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.vc_custom_1461600200548 {
    margin-bottom: 30px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.vc_custom_1461336181509 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1461330636619 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1469637600529 {
    margin-bottom: 30px !important;
}

.vc_custom_1469637610046 {
    margin-bottom: 30px !important;
}

.vc_custom_1469637622670 {
    margin-bottom: 30px !important;
}

.vc_custom_1461667447436 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1469637951317 {
    padding-top: 0px !important;
}

.vc_custom_1469637944758 {
    padding-top: 0px !important;
}

.vc_custom_1461357240639 {
    background-color: #ffffff !important;
}

.vc_custom_1461357240639 {
    background-color: #ffffff !important;
}

.vc_custom_1461673193635 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}</style>
<noscript>
    <style type="text/css"> .wpb_animate_when_almost_visible {
        opacity: 1;
    }</style>
</noscript>

<div class="site-sub-content clearfix">
    <div class="col-lg-12 col-sm-12 col-xs-12 fullwidthsidebar">
        <div class="page-content page-list">
            <article id="page-7" class="post-7 page type-page status-publish hentry">
                <div class="page-header">
                </div>

                <div class="page-content-bottom">

                    {% include homepage/slides.html %}
                    {% include homepage/event.html %}

                    {% include homepage/speakers.html %}
                    <!-- { % include homepage/tickets.html % } -->

                    {% include homepage/counters.html %}
                    {% include homepage/sponsors.html %}

                </div>
            </article>
        </div>
    </div>

</div>
