---
layout: default
title: JBCNConf - Talk's info
bodyClass: home page-template-default page page-id-7 eventstation-class eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}

<script>
    (function(global){
        let talk;
        let speakers = [];
        //let tag = $("<span class=\"label tag label-info\" data-tag=\"{{tag}}\">&nbsp;</span>");

        let talkId = new URL(window.location).searchParams.get("id");

        {% for talkCursor in site.data.talks.items %}
            if("{{ talkCursor.id }}".toLowerCase() === talkId.toLowerCase()){
                talk = {{ talkCursor | jsonify }};
            }
        {% endfor %}

        {% for speaker in site.data.speakers.items %}
            if (talk.speakers[0] === "{{ speaker.ref }}" || talk.speakers[1] === "{{ speaker.ref }}" || talk.speakers[2] === "{{ speaker.ref }}") {
                speakers.push({{ speaker | jsonify }});
            }
        {% endfor %}

        global.TALK = talk;
        global.SPEAKERS = speakers;
    }(window));
</script>

<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li id="session-type"></li>
            </ul>
        </div>
        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
                <div class="category-post-list post-list single-list">

                    <article id="talk" class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2></h2>
                                <h1 class="name"></h1>
                                <h3 class="description"></h3>
                            </div>
                            <div id="post-content">
                            </div>
                            <div id="tags">&nbsp;</div>
                        </div>
                    </article>

                    <article id="speaker-page-0"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">

                            <div class="post-header">
                                <h2></h2>
                                <h1 class="name"></h1>
                                <h3 class="description"></h3>
                            </div>

                            <div>
                                <p>
                                    <img class="speaker-image size-full wp-image-237 alignright"
                                         src=""
                                         width="200"
                                         height="300"
                                         alt="speaker"
                                         data-image-base="{{base}}/">
                                    <ul style="float:right; list-style:none" class="post-information">
                                        <li class="linkedin" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="twitter" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="homepage" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-rss"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <span class="biography">
                                    </span>
                                </p>
                            </div>
                        </div>
                    </article>

                    <div>&nbsp;</div>

                    <article id="speaker-page-1"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">

                            <div class="post-header">
                                <h1 class="name"></h1>
                                <h3 class="description"></h3>
                            </div>

                            <div>
                                <p>
                                    <img class="speaker-image size-full wp-image-237 alignright"
                                         src=""
                                         width="200"
                                         height="300"
                                         alt="speaker"
                                         data-image-base="{{base}}/">
                                    <ul style="float:right; list-style:none" class="post-information">
                                        <li class="linkedin" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="twitter" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="homepage" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-rss"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <span class="biography">
                                    </span>
                                </p>
                            </div>
                        </div>
                    </article>

                    <div>&nbsp</div>

                    <article id="speaker-page-2"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">

                            <div class="post-header">
                                <h1 class="name"></h1>
                                <h3 class="description"></h3>
                            </div>

                            <div>
                                <p>
                                    <img class="speaker-image size-full wp-image-237 alignright"
                                         src=""
                                         width="200"
                                         height="300"
                                         alt="speaker"
                                         data-image-base="{{base}}/">
                                    <ul style="float:right; list-style:none" class="post-information">
                                        <li class="linkedin" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="twitter" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="homepage" style="display:none">
                                            <a target="_blank" href="#">
                                                <i class="fa fa-rss"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <span class="biography">
                                    </span>
                                </p>
                            </div>
                        </div>
                    </article>

                    <script>
                        (function () {
                            jQuery(document).ready(function ($) {
                                $('#session-type').append(window.TALK.type === 'talk' ? 'Talk' : 'Workshop');

                                const updateSpeakerPage = function () {
                                    $("article").addClass("hidden");
                                    $("#talk").removeClass("hidden");
                                    for (let i = 0; i < window.SPEAKERS.length; i++) {
                                        const speaker = window.SPEAKERS[i],
                                            $container = $("#speaker-page-" + i),
                                            updateSocialLink = function (social) {
                                                if (speaker[social]) {
                                                    let link = speaker[social];
                                                    if (social === 'twitter') {
                                                        link = link.replace('\@', '')
                                                        if (!link.startsWith('http://') && !link.startsWith('https://')) {
                                                            link = 'https://twitter.com/' + link
                                                        }
                                                    }
                                                    $container.removeClass("hidden");
                                                    $container.find("." + social).show();
                                                    $container.find("." + social + " a").attr("href", link);
                                                }
                                            };

                                        $container.find('.speaker-image').attr("src", $('.speaker-image').attr("data-image-base") + speaker.image);
                                        $container.find('.speaker-image').attr("alt", speaker.name);
                                        $container.find(".name").html(speaker.name);
                                        $container.find(".biography").html(speaker.biography);
                                        $container.find(".description").html(`${speaker.description} @ ${speaker.company}`);

                                        updateSocialLink('linkedin');
                                        updateSocialLink('twitter');
                                        updateSocialLink('homepage');
                                    }

                                    const talk = window.TALK;
                                    const title = '<h1 class="talk-title"> ' + talk.title + '</h1><i>(' + talk.type + ')<i>';
                                    $('#post-content').append(title);

                                    let abstractContent;
                                    if (!talk.requirements) {
                                        abstractContent = talk.abstract
                                    } else {
                                        abstractContent = talk.abstract
                                            + '<br><br><span style="text-decoration:underline;font-weight:bold;">Requirements for the workshop</span>: '
                                            + (talk.requirements.htmlText ? '<div>' + talk.requirements.htmlText + '</div>' : '')
                                            + (talk.requirements.link ? '<a href="' + talk.requirements.link + '" style="text-decoration: underline; color: blue;" target="_blank"> 👉 Find them here!!</a>' : '')
                                    }

                                    $('#post-content').append('<div style="text-align: justify;" class="abstract"> ' + abstractContent + ' </div>');

                                    if (talk.video) {
                                        const video = '<iframe width="560" height="315" src="https://www.youtube.com/embed/' + talk.video + '"' +
                                            'border="0" autoplay encrypted-media allowfullscreen></iframe>';
                                        $('#post-content').append(video);
                                    }
                                };
                                updateSpeakerPage();
                            });
                        }());
                    </script>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
                {% include sponsors-sidebar.html %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    for (const tag of TALK.tags) {
        let labelSpan = document.createElement("span");
        labelSpan.style.marginLeft = "5px";
        labelSpan.classList.add("label", "tag", "label-info")
        let text = document.createTextNode(tag);
        labelSpan.appendChild(text);
        labelSpan.setAttribute("data-tag", tag)
        document.getElementById("tags").appendChild(labelSpan);
    }
</script>
<script type='text/javascript' src='{{ base }}/assets/js/tag-colors.js'></script>
