---
layout: default
title: JBCNConf - Talks list
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>Talks</li>
            </ul>
        </div>

        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
                <div class="category-post-list post-list single-list">
                    <article id="post-294"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <ul class="post-information">

                                </ul>
                                <h2></h2>
                                <h2>Talks</h2>
                                <p>
                                    {{ site.data.homepage.talks_days }}
                                </p>

                            </div>

                            <div class="post-content">

                                {% for talk in site.data.talks.items %}
                                {% if talk.type contains "talk" %}

                                {% if talk.video %}
                                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                                {% endif %}

                                <a href="{{base}}/infoTalk.html?id={{talk.id}}">
                                <b>{{talk.title}}</b> by
                                </a>
                                {% for speakerRef in talk.speakers %}
                                {% for speaker in site.data.speakers.items %}

                                {% if speakerRef == speaker.ref %}
                                <a href="{{base}}/{{speaker.url}}" style="text-decoration: underline;">{{ speaker.name }}</a>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}

                                </br>
                                Level: {{talk.level}}
                                {% for tag in talk.tags %}
                                <span class="label tag label-info" data-tag="{{tag}}">{{ tag }}</span>
                                {% endfor %}

                                </br>

                                {% endif %}
                                {% endfor %}

                            </div>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 site-content-right rightsidebar fixedrightSidebar">
                {% include recent-events.html %}
            </div>

        </div>
    </div>

    <script type='text/javascript'
            src='{{ base }}/assets/js/tag-colors.js'></script>

</div>

