<div id="JBCN" class="vc_row wpb_row vc_row-fluid vc_custom_1461326947361">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461326978169">
            <div class="wpb_wrapper">
                <script>
                    jQuery(document).ready(function ($) {
                        $('.counter .counter-images').vegas({
                            timer: false,
                            slides: [
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_1.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_2.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_3.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_4.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_5.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_6.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_7.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_8.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_9.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_10.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_11.jpg'},
                                {src: '{{base}}/assets/img/homepage/java_barcelona_conference_12.jpg'}

                            ]
                        });
                    });
                </script>
                <div class="counter">
                    <div class="counter-images"></div>
                    <div class="counter-box">
                        <div class="counter-box-general-wrapper">
                            <div class="counter-box-general-content-wrapper">
                                <div class="counter-box-general-content">
                                    <div class="counter-box-general-content-top" style="text-shadow: 2px -2px black;">
                                        <div class="left">JBCNConf</div>
                                    </div>
                                    <div class="counter-box-general-content-date" style="background:rgba(255,255,255,0.7);">
                                        <div class="counter-box-general-content-date-left">
                                            <div class="counter-box-general-content-date-left-left"></div>
                                            <div class="counter-box-general-content-date-left-top"></div>
                                            <div class="counter-box-general-content-date-left-bottom"></div>
                                        </div>
                                        <div class="counter-box-general-content-date-center">
                                            <div class="counter-box-general-content-date-days" style="text-shadow: 2px -2px white; color:black">{{site.data.homepage.days}}</div>
                                            <div class="counter-box-general-content-date-monthyear" style="text-shadow: 2px -2px white;">{{site.data.homepage.month_year}}</div>
                                            <div style="color:black" class="">
                                                JVM & TECH<br/>
                                                Past Events:
                                                <a style="color:black" href="../2018/"
                                                   target="_blank"><u>2018</u>,</a>
                                                <a style="color:black" href="../2017/"
                                                   target="_blank"><u>2017</u>,</a>
                                                <a style="color:black" href="../2016/"
                                                   target="_blank"><u>2016</u>,</a>
                                                <a style="color:black" href="../2015/"
                                                   target="_blank"><u>2015</u></a>
                                            </div>
                                        </div>
                                        <div class="counter-box-general-content-date-right">
                                            <div class="counter-box-general-content-date-right-top"></div>
                                            <div class="counter-box-general-content-date-right-right"></div>
                                            <div class="counter-box-general-content-date-right-bottom"></div>
                                        </div>
                                    </div>

                                    <div style="text-shadow: 2px -2px black;"  class='DateCountdown' data-date='{{site.data.homepage.starting_day_and_time}}'></div>
                                    <script>
                                        /* Set date above and uncomment below to enable countdown */
                                        jQuery(document).ready(function ($) {
                                            $('.DateCountdown').TimeCircles({
                                                'animation': 'smooth',
                                                'use_background': false,
                                                'bg_width': 0,
                                                'fg_width': 0,
                                                'time': {
                                                    'Days': {
                                                        'text': 'Days',
                                                        'show': true
                                                    },
                                                    'Hours': {
                                                        'text': 'Hours',
                                                        'show': true
                                                    },
                                                    'Minutes': {
                                                        'text': 'Minutes',
                                                        'show': true
                                                    },
                                                    'Seconds': {
                                                        'text': 'Seconds',
                                                        'show': true
                                                    }
                                                }
                                            });
                                        });
                                    </script>
                                    <br/>
                                    <br/>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="counter-box-button" style="background: #1260eb">
                                                    <a href="{{ base }}/callForPapers.html" title="CALL FOR PAPERS"><span>CALL FOR PAPERS</span></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="counter-box-button" style="background: red">
                                                    <a href="{{ site.data.homepage.tickets_url }}" title="{{ site.data.homepage.ticket_buy }}"><span>{{ site.data.homepage.ticket_buy }}</span></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
