<div id="Speakers" class="vc_row wpb_row vc_row-fluid container-fluid vc_custom_1461667953502">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461330636619">
            <div class="wpb_wrapper">
                <div class="content-widget-title">
                    <div class="content-title-text"><i class="fa fa-users"></i>
                        <h3>speakers<span class="separator">
											                 <span class="separator-line"></span>
											                 <span class="separator-dot"></span>
										                </span>
                        </h3>
                        <p>{{ site.data.homepage.speakers_desc }}.</p>
                        <div style="text-align:center;">
                          <a href="{{ base }}/talks.html">
                            <button class="btn btn-jbcn">Talks <br> {{ site.data.talks.items | where: "type","talk" | size }}</button>
                          </a>
                          <a href="{{ base }}/workshops.html">
                            <button class="btn btn-jbcn">Workshops <br>  {{ site.data.talks.items | where:"type","workshop" | size }}</button>
                          </a>
                          <a href="{{ base }}/speakers.html">
                            <button class="btn btn-jbcn">Speakers <br> {{ site.data.speakers.items | size }}</button>
                          </a>
                        </div>
                      </div> <br>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 33px"><span class="vc_empty_space_inner"></span></div>

                <div class="speakers-widget speakers-widget-344564632 animate anim-fadeInUp">


                    {% for speaker in site.data.speakers.items %}

                    {% assign talkTitle = '' %}
                    {% for talk in site.data.talks.items %}
                    {% if speaker.ref == talk.speakers[0] or speaker.ref == talk.speakers[1] %}
                    {% capture talkTitle %}  {{ talk.title }}. {{ talkTitle }}{% endcapture %}
                    {% endif %}
                    {% endfor %}


                    <div class="item">
                        <div class="speaker-item-header"
                             style="background-image:url('{{ base }}/{{ speaker.image }}');">
                            <div class="speaker-item-topic-wrapper">
                                <a href="{{ base }}/{{ speaker.url }}">
                                    <h4 class="speaker-item-topic-title">
                                        {{ talkTitle }}
                                    </h4>
                                </a>

                            </div>
                        </div>
                        <div class="speaker-item-body">
                            <ul class="speaker-item-information">

                            </ul>
                            <div class="name-job">
                                <a href="{{ base }}/{{ speaker.url }}">
                                    <h2>{{ speaker.name }}</h2>
                                </a>
                                <a href="{{ base }}/{{ speaker.url }}">
                                    <h3>{{ speaker.description }}</h3>
                                </a>
                            </div>
                            <ul class="speaker-item-social-links">

                            </ul>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div style="text-align:center;">
                    <a href="{{ base }}/speakers.html"
                       title="SEE ALL">
                        <button type="button" class="btn btn-jbcn">All Speakers</button>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
