{% include base.html %}

<div id="Tickets" class="vc_row wpb_row vc_row-fluid container-fluid vc_custom_1461837918304">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1461330636619">
            <div class="wpb_wrapper">
                <div class="content-widget-title">
                    <div class="content-title-text"><i class="fa fa-ticket"></i>
                        <h3>{{ site.data.homepage.ticket_section_title }}<span class="separator">
											<span class="separator-line"></span>
											<span class="separator-dot"></span>
										</span></h3>
                        <p>{{ site.data.homepage.ticket_section_desc }}</p>
                        <p>Check the <a href="conditions.html">terms and conditions</a></p>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 33px"><span class="vc_empty_space_inner"></span></div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                        <div class="vc_column-inner vc_custom_1469637600529">
                            <div class="wpb_wrapper">
                                <div class="pricing-table pricing-table-modern">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                        <div class="vc_column-inner vc_custom_1469637610046">
                            <div class="wpb_wrapper">
                                <div class="pricing-table pricing-table-modern">
                                    <a href="{{ site.data.homepage.tickets_url }}">
                                      <div class="pricing-table-header animate anim-fadeInUp"
                                           style="background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url('{{base}}/assets/img/homepage/price_3.jpg');">
                                          <div class="pricing-table-header-left">
                                              <div class="pricing-table-header-left-wrapper">
                                                  <div class="pricing-table-price"><span></span>{{ site.data.homepage.ticket_buy }}</div>
                                              </div>
                                          </div>
                                          <div class="pricing-table-header-right">
                                              <div class="pricing-table-packagename">{{ site.data.homepage.tickets_title }}</div>
                                              <div class="pricing-table-text">
                                                  {{ site.data.homepage.tickets_subtitle }}
                                              </div>
                                          </div>
                                      </div>
                                    </a>
                                    <div class="pricing-table-bottom">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                        <div class="vc_column-inner vc_custom_1469637622670">
                            <div class="wpb_wrapper">
                                <div class="pricing-table pricing-table-modern">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
