<div id="Twitter" class="vc_row wpb_row vc_row-fluid container-fluid ">
  <h2 class="pagination-centered">Join the conversation #JBCN19</h2>
  <div class="wpb_column vc_column_container vc_col-sm-6">
    <a class="twitter-timeline" data-height="600" data-theme="light" data-link-color="#E81C4F" href="https://twitter.com/jbcnconf">Tweets by
            jbcnconf</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-6">
    <a class="twitter-timeline" data-height="600" data-theme="light" data-link-color="#E81C4F" href="https://twitter.com/search?q=%23jbcn19">Tweets by
            jbcnconf</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>