<div id="Twitter" class="vc_row wpb_row vc_row-fluid container-fluid ">
    <h2 class="pagination-centered">Join the conversation #JBCN19</h2>
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <a class="twitter-timeline" data-height="600" data-link-color="#0f7ef4"
           href="https://twitter.com/jbcnconf?ref_src=twsrc%5Etfw">Tweets by jbcnconf</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <a class="twitter-hashtag-button" data-height="600" data-link-color="#0f7ef4"
           href="https://twitter.com/intent/tweet?button_hashtag=jbcn19&ref_src=twsrc%5Etfw" data-show-count="false">Tweet
            #jbcn19</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>