---
layout: default
title: JBCNConf - News
bodyClass: home page-template-default page page-id-7 eventstation-class  eventstation-shop-column-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive
---
{% include base.html %}


<div class="content-heading">
    <div class="container-fluid">
        <div class="heading-navigation">
            <i class="fa fa-address-book"></i>
            <ul>
                <li>Home</li>
                <li>&#47;</li>
                <li>Job Opportunities</li>
            </ul>
        </div>
        <div class="heading-title">
        </div>
    </div>
</div>

<div class="site-sub-content clearfix">
    <div class="container-fluid">
        <div class="row alternative-row">
            <div class="col-lg-9 col-sm-9 col-xs-12 site-content-left">
                <div class="category-post-list post-list single-list">
                    <article id="post-294"
                             class="post-294 post type-post status-publish format-standard has-post-thumbnail hentry category-culturel tag-business tag-news tag-congress tag-entertainment">
                        <div class="post-wrapper">
                            <div class="post-header">

                                <br/>
                                <h2>Job offers</h2>
                                <div class="post-content" style="width : 100%; ">
                                    <h1 style="margin-bottom: 10px">Have a look at some of the opportunities with our sponsors</h1>
                                    <table>
                                        <colgroup>
                                            <col span="1" style="width: 25%;">
                                            <col span="1" style="width: 70%;">
                                        </colgroup>
                                        <tbody>
                                        {% for job in site.data.jobs %}
                                        <tr>
                                            <td>
                                                <img src="{{ base }}{{ job.company.logo-url }}"
                                                     style="max-height: 150px;vertical-align: middle"
                                                     class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                                     alt="{{ job.company.name }}"/>
                                            </td>
                                            <td>
                                                <h2>
                                                    {{ job.title }}
                                                    {% if job.links.linkedIn %}
                                                    <a target="_blank" href="{{ job.links.linkedIn }}">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                    {% endif %}
                                                    {% if job.links.web %}
                                                    <a target="_blank" href="{{ job.links.linkedIn }}">
                                                        <i class="fa fa-globe"></i>
                                                    </a>
                                                    {% endif %}
                                                </h2>
                                                <div>{{ job.description }}</div>

                                                <h3>{{ job.company.name }}</h3>
                                                <div>{{ job.company.description }}</div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
