<div class="paragraph">
<p>JBCNConf is the biggest Java &amp; JVM conference in Spain, and has become the reference for Java developers in southern Europe with more than 740 attendees during the last edition.</p>
</div>
<div class="paragraph">
<p><strong>For the next edition during September 2020 we expect more than 800 attendees, from 7th to 9th of September in the 6th edition.</strong></p>
</div>
<div class="paragraph">
<p>And we feel JBCNConf is the right place to go if you are considering</p>
</div>
<div class="ulist">
<ul>
<li>
<p><em>increasing IT branding of your organization</em>,</p>
</li>
<li>
<p><em>getting in touch with the best developers</em>,</p>
</li>
<li>
<p><em>contacting technology leaders</em> or just</p>
</li>
<li>
<p><em>improve your employee&#8217;s training</em> on the latest technologies.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you <strong>want to know more</strong> here is <a href="https://drive.google.com/open?id=1sHRO7YW6rPWEjdCvhWxCBawclH-JBwfc" target="_blank" rel="noopener"><strong>a brief explanatory document</strong></a>, or just have a look at the <a href="https://www.flickr.com/photos/barcelonajug/albums/with/72157709509392952" target="_blank" rel="noopener"><strong>pictures from the last edition</strong></a>.</p>
</div>
<div>
<a href="https://drive.google.com/file/d/1sHRO7YW6rPWEjdCvhWxCBawclH-JBwfc/view?usp=sharing" target="_blank">
  <img src="assets/img/sponsors/brochure-icon-50.png" width="100" height="100" alt="Download">
</a>
<button type="button" class="btn btn-lg btn-primary" style="background: #1260eb">
  <i class="fa fa-envelope">
    <a href="mailto:info@barcelonajug.org?subject=JBCNConf2020%20Being%20a%20sponsor">Get in touch!</a>
  </i>
</button>
<div>
<div class="paragraph">
<p>Feel free to <strong>send us a message at <span class="icon"><i class="fa fa-envelope"></i></span> <a href="mailto:info@barcelonajug.org?subject=JBCNConf2020%20Being%20a%20sponsor" target="_blank" rel="noopener">info@barcelonajug.org</a></strong> sharing what you are looking for, questions, etc. and we will reach you.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="assets/img/sponsors/sponsors-mural.jpg" alt="sponsors mural">
</div>
</div>
