<div id="preamble">
    <div class="sectionbody">
        <div class="paragraph">
            <p>JBCNConf, its volunteers, and staff consider that understanding, respecting, valuing and promoting differences is an essential part of our core values.
                Since we believe that everyone is unique, in our events we actively encourage collaborative environments where individuals can confidently share their different ideas.
                We are also committed to embrace the rich diversity of our society and the world around us.
                People who are diverse in nationality, age, race, ethnic origin, spiritual beliefs and practices, gender, gender identity, sexual orientation, work and life status are critical for
                constant improvement and innovation in our profession.</p>
        </div>
        <div class="paragraph">
            <p>That&#8217;s why we are running again the <em>diversity sponsorship for JBCNConf 2022</em> 🎉</p>
        </div>
        <div class="paragraph">
            <p>If you belong to a traditionally underrepresented group in the tech community, now is your chance.
                We definitely want you to come and join us at the conference 🤗</p>
        </div>
        <div class="paragraph">
            <p><em>We must thank <a href="https://www.gft.com/es/es">GFT</a> for making this possible!</em></p>
        </div>
        <div class="imageblock text-center">
            <div class="content">
                <img src="assets/img/sponsors/gft-logo.jpg" alt="gft logo" width="400">
            </div>
        </div>
    </div>
</div>
<div class="sect1">
    <h2 id="who-can-apply">Who can apply?</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>We strongly encourage applications from women, people with disabilities, people of color, economically disadvantaged people, LGBTQ or any other underrepresented group.
                In addition, the applicants must be 18 years of age or older and must be available to attend the main days of the event (18th and 19th).</p>
        </div>
        <div class="paragraph">
            <p>There are a <strong>limited amount of sponsorships</strong> 🔥 and will be awarded based on a combination of need and impact.</p>
        </div>
    </div>
</div>
<div class="sect1">
    <h2 id="how-can-i-apply">How can I apply?</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>To apply, please fill the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfmvjMK2FfcbscfuVvmNzJ_cXCpCBBHWVNTZfY8mUHfAE1GxQ/viewform">application form</a> introducing yourself and
                telling us about your expectations for the event.
            </p>
        </div>
        <div class="paragraph">
            <p>All applications' information will be kept confidential and used exclusively for this campaign.</p>
        </div>
    </div>
</div>
<div class="sect1">
    <h2 id="how-will-i-be-notified">How will I be notified?</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>Selected people will be notified via email at the contact provided.</p>
        </div>
        <div class="paragraph">
            <p>They will receive a free ticket to the conference, which <strong>includes admission 🎫 to all talks during the 18th and 19th, and catering 🥘 during the two days of the
                conference</strong>.
                Workshops (on the 20th) cannot be included due to limited capacity.</p>
        </div>
    </div>
</div>
<div class="sect1">
    <h2 id="terms-and-conditions">Terms and Conditions</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>All awarded attendees must:</p>
        </div>
        <div class="ulist">
            <ul>
                <li>
                    <p>Follow the conference <a href="coc.html">Code of conduct</a>.</p>
                </li>
                <li>
                    <p>Find additional funding for transportation and accommodation. These costs are not included.</p>
                </li>
                <li>
                    <p>Inform if they are not able to attend the event days 18th and 19th. Tickets are not transferable.</p>
                </li>
                <li>
                    <p>Agree to conference and ticket <a href="https://jbcnconf.com/2022/conditions.html">terms and conditions</a> in case of being awarded with a ticket.</p>
                </li>
            </ul>
        </div>
    </div>
</div>