<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>We will talk about the importance of mentoring people underrepresented by seniors and people of reference in the tech industry.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>How to become a reference and role model for others to help them grow.</p>
</li>
<li>
<p>Do we really know what mentoring means? In what ways we can do it?</p>
</li>
<li>
<p>How can we help to contribute to diversity?</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="our-speakers">Our speakers</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 16.6666%;">
<col style="width: 33.3333%;">
<col style="width: 16.6668%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lorena Bernardez (Step4ward)</strong> 
<a target="_blank" href="https://www.linkedin.com/in/lorena-bernardez/">
<i class="fa fa-linkedin"></i>
</a></p>
<p class="tableblock">Monitoring Manager at eDream Odigeo.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="image"><img src="assets/img/guests/lorena-bernardez.jpg" alt="lorena bernardez" width="100"></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lizzeth Quinteros (Step4ward)</strong> 
<a target="_blank" href="https://www.linkedin.com/in/lizzeth-quinteros-87662a13/">
<i class="fa fa-linkedin"></i>
</a></p>
<p class="tableblock">Senior Cloud Oracle Database Administrator.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="image"><img src="assets/img/guests/lizzeth-quinteros.jpg" alt="lizzeth quinteros" width="100"></span></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cristina Verdi (Code Sherpas)</strong> 
<a target="_blank" href="https://www.linkedin.com/in/cristina-verdi/">
<i class="fa fa-linkedin"></i>
</a></p>
<p class="tableblock">Technical Coach and Founder at CodeSherpas.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="image"><img src="assets/img/guests/cristina-verdi.jpg" alt="cristina verdi" width="100"></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Henriette Hettinga (CodeWomen, MigraCode)</strong> 
<a target="_blank" href="https://www.linkedin.com/in/henriette-hettinga/">
<i class="fa fa-linkedin"></i>
</a></p>
<p class="tableblock">Project manager at CodeWomen, an open community for tech women and women-identifying in Barcelona, organised and run by tech women.
Henriette has a background in management and did a WebDev bootcamp in 2020 before initiating CodeWomen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="image"><img src="assets/img/guests/henriette-hettinga.jpg" alt="henriette hettinga" width="100"></span></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grace Jansen (Developer Advocate IBM)</strong> 
<a target="_blank" href="https://www.linkedin.com/in/grace-jansen/">
<i class="fa fa-linkedin"></i>
</a>
<a target="_blank" href="https://twitter.com/gracejansen27">
<i class="fa fa-twitter"></i>
</a></p>
<p class="tableblock">Grace builds POC’s, demos, and sample applications, and writes guides and tutorials.
Grace also has a keen passion for encouraging more women into STEM and especially Technology careers.
She is also a Speaker here with the talk  “Addressing the transaction challenge in a cloud-native world”.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="image"><img src="assets/img/speakers/grace-jensen.jpg" alt="grace jensen" width="100"></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Heather VanCura (Senior Director JCP/Oracle)</strong> 
<a target="_blank" href="https://twitter.com/heathervc">
<i class="fa fa-twitter"></i>
</a></p>
<p class="tableblock">Heather VanCura is the director and chairperson of the Java Community Process (JCP) program.
In her role, she is responsible for the leadership of the community. In this role, she also serves as an international speaker, mentor, and leader of hack days.
She also is a speaker here with the talk “Open Innovation and the Java Platform”.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="image"><img src="assets/img/speakers/heather-vancura.jpg" alt="heather vancura" width="100"></span></p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect1">
<h2 id="thanks-to-our-collaborators">Thanks to our collaborators</h2>
<div class="sectionbody">
<div class="dlist">
<dl>
<dt class="hdlist1">CodeWomen</dt>
<dd>
<p>Is an empowering and supportive community for women, by women.
Our goals are offering women learning, encouragement and support.
In addition, CodeWomen offers its members a safe environment to share their plans, ambitions and questions with each other.
By building this community, CodeWomen stimulates both professional and personal growth.
CodeWomen is a unique place for women career changers, specifically for women with a migration background, to learn and network, meet new people, and get career advice from experienced women developers.
Learning from other women and working with women coaches is an important part of the learning we offer.</p>
</dd>
<dt class="hdlist1">Step4ward</dt>
<dd>
<p>Is a group of volunteer mentors that helps women starting within the tech world by making a career change or want to continue improving their knowledge and experience.
Currently, we are under the BCN ENG Slack community, and we offer from 2-3 sessions with each mentee to get to know their needs and work with a plan, we know that only with those sessions there won’t be a huge improvement, but talking with other people that already have a path in tech and even that have lived the same situation gives them the courage to continue and help them with the anxiety of the process.
We do our session fully remote and are specialized in the Spanish tech market.</p>
</dd>
<dt class="hdlist1">Code Sherpas</dt>
<dd>
<p>We make it easy for startups, scaleups and innovative companies to scale their teams by connecting them with top tech talent.
We foster diversity, inclusion and equity in tech by breaking down entry barriers to tech and by guiding dreamers and doers to the top.
We support, mentor, train and coach apprentices from all over the world: from Nigeria to India, Cabo Verde, Europe and Latin America</p>
</dd>
</dl>
</div>
</div>
</div>