@media screen and (min-width: 780px) {

    .logo {
        position: absolute;
        z-index: 1;
    }
}

@media screen and (max-width: 980px) and (min-width: 768px) {
    .menu {
        width: 400px;
    }
}

@media screen and (min-width: 978px) {
    .menu {
        margin-left: 300px;
    }
}

@media screen and (max-width: 780px) {
    .navbar,
    .navbar-inner,
    .nav {
        float: none;
    }
}

.text-small {
    font-size: 5px;
}