<div class="{{scheduleRightWidth}}">

    <div class="hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room1_talks}}
    </div>

    <div class="hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room2_talks}}
    </div>

    <div class=" hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room3_talks}}
    </div>

    <div class="hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room4_talks}}
    </div>

    <div class="hidden-xs hidden-sm schedule-cell col-md-2">
        {{site.data.homepage.room5_talks}}
    </div>

</div>
