<div class="{{scheduleRightWidth}}">
    <div class="schedule-cell col-xs-10 col-sm-10 col-md-10">
        {{breakContent}}
        <div style="margin-top: 10px">
            <a href="./mentoring-panel.html">
                <div>Panel 'Becoming a mentor' 🗣️ (Room 112) </div>
            </a>
            <div style="margin-top: 10px">
            with Lorena Bernardez, Lizzeth Quinteros, Cristina Verdi, Henriette Hettinga, Grace Jansen, Ana-Maria Mihalceanu, Carmen Delgado
            </div>
        </div>
    </div>
</div>

