<div id="Sponsors"
     class="vc_row wpb_row vc_row-fluid container-fluid animate anim-fadeIn vc_custom_1461855586554 vc_row-has-fill">
    <div class="content-widget-title">
        <div class="content-title-text"><i class="fa fa-life-ring"></i>
            <h3>Sponsors<span class="separator">
											<span class="separator-line"></span>
											<span class="separator-dot"></span>
										</span></h3>
            <p> {{ site.data.homepage.sponsors_desc }}</p>
        </div>
    </div>

    <div class="wpb_column vc_column_container vc_col-sm-12">

        {% if site.data.sponsors.top %}
            <div class="vc_column-inner" style="text-align: center;">

                <div id="sponsor-top" class="sponsor-top">
                    <h1>Top</h1>
                    <br>
                    <br>
                    <a href="{{ site.data.sponsors.top.href }}" target="_blank" title="{{ site.data.sponsors.top.name }}">
                        <img src="{{base}}{{ site.data.sponsors.top.image.src }}" style="max-height:100%; max-width:100%"
                             class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                             alt="{{ site.data.sponsors.top.image.alt }}"/>
                    </a>
                    <br>
                    <br>
                </div>
            </div>

        {% endif %}

        {% if site.data.sponsors.premium %}
            <div class="vc_column-inner" style="text-align: center;">
                    <hr class="sponsor-separator-gold sponsor-separator"/>
                    <h1 id="sponsor-premium" class="sponsor-premium">Premium</h1>

                    <div class="post-related-posts row">
                        {% for sponsor in site.data.sponsors.premium %}
                            {% assign mod = forloop.index0 | modulo:2 %}
                            {% assign style = "line-height: 200px" %}
                            {% if mod == 0 %}
                                {% assign style = style | append: "; clear:both" %}
                            {% endif %}
                            <div class="item col-sm-6 col-xs-9" style="{{ style }}">
                                <div class="image align-middle">
                                    <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                                       style=" vertical-align:middle;">
                                        <img src="{{ base }}{{ sponsor.image.src }}" style="height: 150px"
                                             class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                             alt="{{ sponsor.image.alt }}"/></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        {% endif %}

        {% if site.data.sponsors.regular %}
            <div class="vc_column-inner" style="text-align: center;">
                    <hr class="sponsor-separator-gold sponsor-separator"/>
                    <h1 id="sponsor-regular" class="sponsor-regular">Regular</h1>

                    <div class="post-related-posts row">
                        {% for sponsor in site.data.sponsors.regular %}
                            {% assign mod = forloop.index0 | modulo:3 %}
                            {% assign style = "line-height: 150px" %}
                            {% if mod == 0 %}
                                {% assign style = style | append: "; clear:both" %}
                            {% endif %}
                            <div class="item col-sm-6 col-xs-8" style="{{ style }}">
                                <div class="image align-middle">
                                    <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                                       style=" vertical-align:middle;">
                                        <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:80%; max-width:80%"
                                             class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                             alt="{{ sponsor.image.alt }}"/></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        {% endif %}

        {% if site.data.sponsors.basic %}
            <div class="vc_column-inner" style="text-align: center;">
                    <hr class="sponsor-separator-gold sponsor-separator"/>
                    <h1 id="sponsor-basic" class="sponsor-basic">Basic</h1>

                    <div class="post-related-posts row">
                        {% for sponsor in site.data.sponsors.basic %}
                            {% assign mod = forloop.index0 | modulo:3 %}
                            {% assign style = "line-height: 150px" %}
                            {% if mod == 0 %}
                                {% assign style = style | append: "; clear:both" %}
                            {% endif %}
                            <div class="item col-sm-4 col-xs-7" style="{{ style }}">
                                  <div class="image align-middle">
                                      <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                                         style=" vertical-align:middle;">
                                          <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:75%; max-width:75%"
                                               class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                               alt="{{ sponsor.image.alt }}"/></a>
                                  </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        {% endif %}

        {% if site.data.sponsors.startup %}
        <div class="vc_column-inner" style="text-align: center;">
            <hr class="sponsor-separator"/>

            <h1 id="sponsor-startup" class="sponsor-startup">Startup</h1>

            <div class="post-related-posts row">

                {% for sponsor in site.data.sponsors.startup %}
                <div class="item col-sm-3 col-xs-6" style="line-height: 125px;">
                    <div class="image align-middle">
                        <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                           style=" vertical-align:middle;">
                            <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:70%; max-width:70%"
                                 class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                 alt="{{ sponsor.image.alt }}"/></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.data.sponsors.virtual %}
        <div class="vc_column-inner" style="text-align: center;">
            <hr class="sponsor-separator"/>

            <h1 id="sponsor-virtual" class="sponsor-virtual">Virtual</h1>

            <div class="post-related-posts row">

                {% for sponsor in site.data.sponsors.startup %}
                <div class="item col-sm-3 col-xs-6" style="line-height: 100px;">
                    <div class="image align-middle">
                        <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                           style=" vertical-align:middle;">
                            <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:65%; max-width:65%"
                                 class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                 alt="{{ sponsor.image.alt }}"/></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.data.sponsors.supporters %}
            <div class="vc_column-inner" style="text-align: center;">
                <hr class="sponsor-separator"/>

                <h1 id="sponsor-supporter" class="sponsor-supporter">Supporters</h1>
                <div class="post-related-posts row">

                    {% for sponsor in site.data.sponsors.supporters %}
                    {% assign mod = forloop.index0 | modulo:6 %}
                    {% assign style = "line-height: 75px" %}
                    {% if mod == 0 %}
                        {% assign style = style | append: "; clear:both" %}
                    {% endif %}
                        <div class="item col-sm-2 col-xs-6" style="{{ style }}">
                            <div class="image align-middle">
                                <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                                style="vertical-align:middle;">
                                    <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:70%; max-width:70%"
                                        class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                        alt="{{ sponsor.image.alt }}"/></a>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if site.data.sponsors.mediapartners %}
        <div class="vc_column-inner" style="text-align: center;">
            <hr class="sponsor-separator"/>

            <h1 id="sponsor-mediapartner" class="sponsor-mediapartner">Media Partners</h1>
            <div class="post-related-posts row">

                {% for sponsor in site.data.sponsors.mediapartners %}
                <div class="item col-sm-2 col-xs-6" style="line-height: 100px;">
                    <div class="image align-middle">
                        <a href="{{ sponsor.href }}" target="_blank" title="{{ sponsor.name }}"
                           style="vertical-align:middle;">
                            <img src="{{ base }}{{ sponsor.image.src }}" style="max-height:70%; max-width:70%"
                                 class="attachment-eventstation-related-post-image size-eventstation-related-post-image wp-post-image"
                                 alt="{{ sponsor.image.alt }}"/></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <hr class="sponsor-separator"/>

    </div>

</div>
